In [2]:
#Raw data file is about 4400 x 3150. Make focused .csv files for each catagory important for analysis in this project.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Read in created FinalHeaders.csv file for the headers important for this project.
headers = pd.read_csv('../cleandata/FinalHeaders.csv', header=0)
headers.head(10)

       ColumnHeaders
0             CAMPUS
1              DNAME
2              CNAME
3              GRADE
4   m_all_unsatgl_nm
5  m_sexm_unsatgl_nm
6  m_sexf_unsatgl_nm
7  m_ethh_unsatgl_nm
8  m_ethi_unsatgl_nm
9  m_etha_unsatgl_nm

In [4]:
#Generate header list for referencing
headerlist = []

for index, row in headers.iterrows():
    headerlist.append(row[0])

headerlist

['CAMPUS',
 'DNAME',
 'CNAME',
 'GRADE',
 'm_all_unsatgl_nm',
 'm_sexm_unsatgl_nm',
 'm_sexf_unsatgl_nm',
 'm_ethh_unsatgl_nm',
 'm_ethi_unsatgl_nm',
 'm_etha_unsatgl_nm',
 'm_ethb_unsatgl_nm',
 'm_ethp_unsatgl_nm',
 'm_ethw_unsatgl_nm',
 'm_ecoy_unsatgl_nm',
 'm_econ_unsatgl_nm',
 'm_eco1_unsatgl_nm',
 'm_eco2_unsatgl_nm',
 'm_eco9_unsatgl_nm',
 'm_ti19_unsatgl_nm',
 'm_migy_unsatgl_nm',
 'm_mign_unsatgl_nm',
 'm_spey_unsatgl_nm',
 'm_spen_unsatgl_nm',
 'm_gify_unsatgl_nm',
 'm_gifn_unsatgl_nm',
 'm_atry_unsatgl_nm',
 'm_atrn_unsatgl_nm',
 'm_all_approgl_nm',
 'm_sexm_approgl_nm',
 'm_sexf_approgl_nm',
 'm_ethh_approgl_nm',
 'm_ethi_approgl_nm',
 'm_etha_approgl_nm',
 'm_ethb_approgl_nm',
 'm_ethp_approgl_nm',
 'm_ethw_approgl_nm',
 'm_ecoy_approgl_nm',
 'm_econ_approgl_nm',
 'm_eco1_approgl_nm',
 'm_eco2_approgl_nm',
 'm_eco9_approgl_nm',
 'm_ti19_approgl_nm',
 'm_migy_approgl_nm',
 'm_mign_approgl_nm',
 'm_spey_approgl_nm',
 'm_spen_approgl_nm',
 'm_gify_approgl_nm',
 'm_gifn_approgl_nm',
 'm_atry_approgl_nm',
 'm_atrn_approgl_nm',
 'm_all_meetsgl_nm',
 'm_sexm_meetsgl_nm',
 'm_sexf_meetsgl_nm',
 'm_ethh_meetsgl_nm',
 'm_ethi_meetsgl_nm',
 'm_etha_meetsgl_nm',
 'm_ethb_meetsgl_nm',
 'm_ethp_meetsgl_nm',
 'm_ethw_meetsgl_nm',
 'm_ecoy_meetsgl_nm',
 'm_econ_meetsgl_nm',
 'm_eco1_meetsgl_nm',
 'm_eco2_meetsgl_nm',
 'm_eco9_meetsgl_nm',
 'm_ti19_meetsgl_nm',
 'm_migy_meetsgl_nm',
 'm_mign_meetsgl_nm',
 'm_spey_meetsgl_nm',
 'm_spen_meetsgl_nm',
 'm_gify_meetsgl_nm',
 'm_gifn_meetsgl_nm',
 'm_atry_meetsgl_nm',
 'm_atrn_meetsgl_nm',
 'm_all_mastrgl_nm',
 'm_sexm_mastrgl_nm',
 'm_sexf_mastrgl_nm',
 'm_ethh_mastrgl_nm',
 'm_ethi_mastrgl_nm',
 'm_etha_mastrgl_nm',
 'm_ethb_mastrgl_nm',
 'm_ethp_mastrgl_nm',
 'm_ethw_mastrgl_nm',
 'm_ecoy_mastrgl_nm',
 'm_econ_mastrgl_nm',
 'm_eco1_mastrgl_nm',
 'm_eco2_mastrgl_nm',
 'm_eco9_mastrgl_nm',
 'm_ti19_mastrgl_nm',
 'm_migy_mastrgl_nm',
 'm_mign_mastrgl_nm',
 'm_spey_mastrgl_nm',
 'm_spen_mastrgl_nm',
 'm_gify_mastrgl_nm',
 'm_gifn_mastrgl_nm',
 'm_atry_mastrgl_nm',
 'm_atrn_mastrgl_nm']

In [5]:
#Read in raw school data for STAAR Test, 2019, 5th Grade
schooldata_df = pd.read_csv('../rawdata/cfy19e4.csv', header=0)
schooldata_df.head()

,CAMPUS,YEAR,REGION,DISTRICT,DNAME,CNAME,GRADE,r_all_docs_n,r_all_abs_n,r_all_oth_n,...,w_gifn_avg_cat3,w_gifn_pct_cat3,w_gifv_avg_cat3,w_gifv_pct_cat3,w_atry_avg_cat3,w_atry_pct_cat3,w_atrn_avg_cat3,w_atrn_pct_cat3,w_atrv_avg_cat3,w_atrv_pct_cat3
0,1902103,19,7,1902,CAYUGA ISD,CAYUGA ELEM.,4,50,0,0,...,11.1,69.0,NaN,NaN,8.3,52.0,12.3,77.0,NaN,
1,1903102,19,7,1903,ELKHART ISD,ELKHART INTERME,4,97,0,0,...,12.4,77.0,NaN,NaN,10.8,67.0,13.2,83.0,NaN,
2,1904102,19,7,1904,FRANKSTON ISD,FRANKSTON ELEM.,4,78,0,0,...,11.3,71.0,NaN,NaN,10.0,63.0,13.1,82.0,NaN,
3,1906102,19,7,1906,NECHES ISD,NECHES ELEM.,4,25,0,0,...,10.6,66.0,NaN,NaN,9.8,61.0,11.2,70.0,NaN,
4,1907110,19,7,1907,PALESTINE ISD,STORY INTERMEDI,4,249,0,0,...,9.7,60.0,NaN,NaN,8.6,54.0,11.7,73.0,NaN,

In [6]:
#Use headerlist to reduce data from 3145 columns to 96 columns for easier data management.
cleanedschooldata = schooldata_df[headerlist]

In [7]:
cleanedschooldata.head(10)

,CAMPUS,DNAME,CNAME,GRADE,m_all_unsatgl_nm,m_sexm_unsatgl_nm,m_sexf_unsatgl_nm,m_ethh_unsatgl_nm,m_ethi_unsatgl_nm,m_etha_unsatgl_nm,...,m_eco9_mastrgl_nm,m_ti19_mastrgl_nm,m_migy_mastrgl_nm,m_mign_mastrgl_nm,m_spey_mastrgl_nm,m_spen_mastrgl_nm,m_gify_mastrgl_nm,m_gifn_mastrgl_nm,m_atry_mastrgl_nm,m_atrn_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,4,6.0,4.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,13.0,0.0,13.0,NaN,12.0,1.0,12.0
1,1903102,ELKHART ISD,ELKHART INTERME,4,4.0,2.0,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,40.0,2.0,38.0,8.0,32.0,3.0,37.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,4,26.0,11.0,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,15.0,1.0,14.0,5.0,10.0,6.0,9.0
3,1906102,NECHES ISD,NECHES ELEM.,4,2.0,1.0,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,2.0,NaN,1.0,0.0,2.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,4,106.0,54.0,52.0,39.0,NaN,NaN,...,NaN,NaN,NaN,45.0,0.0,45.0,6.0,39.0,9.0,36.0
5,1908101,WESTWOOD ISD,WESTWOOD ELEM.,4,46.0,26.0,20.0,13.0,NaN,NaN,...,NaN,NaN,NaN,24.0,1.0,23.0,5.0,19.0,9.0,15.0
6,1909101,SLOCUM ISD,SLOCUM PRE-K -,4,6.0,3.0,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,0.0,0.0,1.0
7,2901104,ANDREWS ISD,UNDERWOOD ELEM.,4,93.0,47.0,46.0,70.0,NaN,NaN,...,NaN,NaN,NaN,73.0,6.0,67.0,19.0,54.0,3.0,70.0
8,3801103,PINEYWOODS COMM,SARAH STRINDEN,4,7.0,3.0,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,35.0,1.0,34.0,7.0,28.0,3.0,32.0
9,3902102,HUDSON ISD,W.H. BONNER ELE,4,47.0,27.0,20.0,10.0,2.0,NaN,...,NaN,NaN,NaN,58.0,3.0,55.0,9.0,49.0,5.0,53.0

In [8]:
#We need school data from SchoolDirectory.csv in our data. School Number, School Street Address, School City, School Zip Code
DInfo_df = pd.read_csv('../rawdata/SchoolDirectory2.csv', header=0)
DInfo_df.head()

,County Number,County Name,Region Number,District Number,District Name,District Type,District Street Address,District City,District State,District Zip,...,School Phone,School Fax,School Email Address,School Web Page Address,School Principal,Grade Range,School Enrollment as of Oct 2018,School Status,School Status Date,Update Date
0,'001,ANDERSON COUNTY,'07,'001902,CAYUGA ISD,INDEPENDENT,P O BOX 427,CAYUGA,TX,75832-0427,...,(903) 928-2294 ext:012,(903) 928-2239,admin1@cayugaisd.com,www.cayugaisd.com,MR JOE E SATTERWHITE III,'09-12,179,Active,,11/17/2019 5:38
1,'001,ANDERSON COUNTY,'07,'001902,CAYUGA ISD,INDEPENDENT,P O BOX 427,CAYUGA,TX,75832-0427,...,(903) 928-2699 ext:4001,(903) 928-2646,admin1@cayugaisd.com,www.cayugaisd.com,MRS SHERRI MCINNIS,'06-08,119,Active,3/11/1996,11/17/2019 5:38
2,'001,ANDERSON COUNTY,'07,'001902,CAYUGA ISD,INDEPENDENT,P O BOX 427,CAYUGA,TX,75832-0427,...,(903) 928-2295,(903) 928-2387,admin1@cayugaisd.com,www.cayugaisd.com,MRS TRACIE CAMPBELL,'EE-05,266,Active,,11/17/2019 5:38
3,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,(903) 764-5161,(903) 764-2414,hneugebauer@elkhartisd.org,elkhartisd.org,MR JASON W IVES,'09-12,376,Active,,11/17/2019 5:38
4,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,,,tpyeatt@elkhartisd.org,NaN,,'KG-12,2,Active,6/28/2002,11/17/2019 5:38

In [9]:
#Take the appropriate columns and make a dataframe for merging to the cleanedschooldata dataframe.
DInfo_School_df = DInfo_df[['School Number', 'School Site Street Address', 'School Site City', 'School Site Zip', 'District Type']]
DInfo_School_df.head(10)

,School Number,School Site Street Address,School Site City,School Site Zip,District Type
0,'001902001,17750 N US HWY 287,TENNESSEE COLONY,75861,INDEPENDENT
1,'001902041,17750 N US HWY 287,TENNESSEE COLONY,75861,INDEPENDENT
2,'001902103,17750 N US HWY 287,TENNESSEE COLONY,75861,INDEPENDENT
3,'001903001,9002 S STATE HWY 19,ELKHART,75839-9701,INDEPENDENT
4,'001903002,420 W PALESTINE AVE,PALESTINE,75801,INDEPENDENT
5,'001903041,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT
6,'001903101,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT
7,'001903102,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT
8,'001904001,100 PERRY ST,FRANKSTON,75763-0428,INDEPENDENT
9,'001904041,100 PERRY ST,FRANKSTON,75763-0428,INDEPENDENT

In [10]:
#Make a new CAMPUS column from the School Number, remove the ' and truncate to integers. This makes CAMPUS
#number equal to the number for the cleanedschooldata dataframe.
for index, row in DInfo_School_df.iterrows():
    
    DInfo_School_df.loc[index, 'CAMPUS'] = int(row[0][1:])

C:\Users\StevenJBark\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\StevenJBark\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [11]:
DInfo_School_df.head(20)

,School Number,School Site Street Address,School Site City,School Site Zip,District Type,CAMPUS
0,'001902001,17750 N US HWY 287,TENNESSEE COLONY,75861,INDEPENDENT,1902001.0
1,'001902041,17750 N US HWY 287,TENNESSEE COLONY,75861,INDEPENDENT,1902041.0
2,'001902103,17750 N US HWY 287,TENNESSEE COLONY,75861,INDEPENDENT,1902103.0
3,'001903001,9002 S STATE HWY 19,ELKHART,75839-9701,INDEPENDENT,1903001.0
4,'001903002,420 W PALESTINE AVE,PALESTINE,75801,INDEPENDENT,1903002.0
5,'001903041,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT,1903041.0
6,'001903101,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT,1903101.0
7,'001903102,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT,1903102.0
8,'001904001,100 PERRY ST,FRANKSTON,75763-0428,INDEPENDENT,1904001.0
9,'001904041,100 PERRY ST,FRANKSTON,75763-0428,INDEPENDENT,1904041.0
10,'001904102,100 PERRY ST,FRANKSTON,75763-0428,INDEPENDENT,1904102.0
11,'001906002,1509 ACR 346,PALESTINE,75803,INDEPENDENT,1906002.0
12,'001906102,3055 FM 2574,PALESTINE,75803,INDEPENDENT,1906102.0
13,'001907001,1600 S LOOP 256,PALESTINE,75801-5898,INDEPENDENT,1907001.0
14,'001907041,233 BEN MILAM DR,PALESTINE,75801-6003,INDEPENDENT,1907041.0
15,'001907101,2509 HWY 155 N,PALESTINE,75801-9999,INDEPENDENT,1907101.0
16,'001907102,1020 W HAMLET,PALESTINE,75803,INDEPENDENT,1907102.0
17,'001907107,201 GILLESPIE RD,PALESTINE,75801-7627,INDEPENDENT,1907107.0
18,'001907110,5300 S LOOP 256,PALESTINE,75801-2415,INDEPENDENT,1907110.0
19,'001908002,1820 PANTHER BLVD,PALESTINE,75803-8483,INDEPENDENT,1908002.0

In [13]:
#Merge the cleanedschooldata and test_df dataframes
cleanedschooldata2 = pd.merge(cleanedschooldata, DInfo_School_df, on='CAMPUS', how='left')

In [14]:
cleanedschooldata2.count()

CAMPUS                        4556
DNAME                         4556
CNAME                         4556
GRADE                         4556
m_all_unsatgl_nm              4515
m_sexm_unsatgl_nm             4461
m_sexf_unsatgl_nm             4452
m_ethh_unsatgl_nm             4254
m_ethi_unsatgl_nm               22
m_etha_unsatgl_nm              885
m_ethb_unsatgl_nm             2350
m_ethp_unsatgl_nm               10
m_ethw_unsatgl_nm             3068
m_ecoy_unsatgl_nm             4401
m_econ_unsatgl_nm             3786
m_eco1_unsatgl_nm             4066
m_eco2_unsatgl_nm             1630
m_eco9_unsatgl_nm             1431
m_ti19_unsatgl_nm                7
m_migy_unsatgl_nm               78
m_mign_unsatgl_nm             4515
m_spey_unsatgl_nm             3430
m_spen_unsatgl_nm             4504
m_gify_unsatgl_nm             2811
m_gifn_unsatgl_nm             4509
m_atry_unsatgl_nm             4325
m_atrn_unsatgl_nm             4417
m_all_approgl_nm              4515
m_sexm_approgl_nm             4461
m_sexf_approgl_nm             4452
                              ...
m_atry_meetsgl_nm             4325
m_atrn_meetsgl_nm             4417
m_all_mastrgl_nm              4515
m_sexm_mastrgl_nm             4461
m_sexf_mastrgl_nm             4452
m_ethh_mastrgl_nm             4254
m_ethi_mastrgl_nm               22
m_etha_mastrgl_nm              885
m_ethb_mastrgl_nm             2350
m_ethp_mastrgl_nm               10
m_ethw_mastrgl_nm             3068
m_ecoy_mastrgl_nm             4401
m_econ_mastrgl_nm             3786
m_eco1_mastrgl_nm             4066
m_eco2_mastrgl_nm             1630
m_eco9_mastrgl_nm             1431
m_ti19_mastrgl_nm                7
m_migy_mastrgl_nm               78
m_mign_mastrgl_nm             4515
m_spey_mastrgl_nm             3430
m_spen_mastrgl_nm             4504
m_gify_mastrgl_nm             2811
m_gifn_mastrgl_nm             4509
m_atry_mastrgl_nm             4325
m_atrn_mastrgl_nm             4417
School Number                 4523
School Site Street Address    4523
School Site City              4523
School Site Zip               4523
District Type                 4523
Length: 101, dtype: int64

In [16]:
cleanedschooldata2.head()

,CAMPUS,DNAME,CNAME,GRADE,m_all_unsatgl_nm,m_sexm_unsatgl_nm,m_sexf_unsatgl_nm,m_ethh_unsatgl_nm,m_ethi_unsatgl_nm,m_etha_unsatgl_nm,...,m_spen_mastrgl_nm,m_gify_mastrgl_nm,m_gifn_mastrgl_nm,m_atry_mastrgl_nm,m_atrn_mastrgl_nm,School Number,School Site Street Address,School Site City,School Site Zip,District Type
0,1902103,CAYUGA ISD,CAYUGA ELEM.,4,6.0,4.0,2.0,NaN,NaN,NaN,...,13.0,NaN,12.0,1.0,12.0,'001902103,17750 N US HWY 287,TENNESSEE COLONY,75861,INDEPENDENT
1,1903102,ELKHART ISD,ELKHART INTERME,4,4.0,2.0,2.0,0.0,NaN,NaN,...,38.0,8.0,32.0,3.0,37.0,'001903102,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,4,26.0,11.0,15.0,NaN,NaN,NaN,...,14.0,5.0,10.0,6.0,9.0,'001904102,100 PERRY ST,FRANKSTON,75763-0428,INDEPENDENT
3,1906102,NECHES ISD,NECHES ELEM.,4,2.0,1.0,1.0,0.0,NaN,NaN,...,2.0,NaN,1.0,0.0,2.0,'001906102,3055 FM 2574,PALESTINE,75803,INDEPENDENT
4,1907110,PALESTINE ISD,STORY INTERMEDI,4,106.0,54.0,52.0,39.0,NaN,NaN,...,45.0,6.0,39.0,9.0,36.0,'001907110,5300 S LOOP 256,PALESTINE,75801-2415,INDEPENDENT

In [17]:
#Basic cleaned file for further data extraction of focused .csv files. 
cleanedschooldata2.to_csv('..\cleandata\CleanedSchoolDataGrade4.csv', header=True, index=False)

In [18]:
#Create DataFrame for numbers in 'all students' categories.
allstudents_df = cleanedschooldata2[['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Site Street Address', 'School Site City', 'School Site Zip', 'm_all_unsatgl_nm', 'm_all_approgl_nm', 'm_all_meetsgl_nm', 'm_all_mastrgl_nm']]
allstudents_df.head(5)

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Site Street Address,School Site City,School Site Zip,m_all_unsatgl_nm,m_all_approgl_nm,m_all_meetsgl_nm,m_all_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,4,INDEPENDENT,17750 N US HWY 287,TENNESSEE COLONY,75861,6.0,44.0,27.0,13.0
1,1903102,ELKHART ISD,ELKHART INTERME,4,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,4.0,93.0,63.0,40.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,4,INDEPENDENT,100 PERRY ST,FRANKSTON,75763-0428,26.0,52.0,25.0,15.0
3,1906102,NECHES ISD,NECHES ELEM.,4,INDEPENDENT,3055 FM 2574,PALESTINE,75803,2.0,23.0,9.0,2.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,4,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,106.0,143.0,80.0,45.0

In [19]:
allstudents_renamed = allstudents_df.rename(columns = {'m_all_unsatgl_nm': 'Below Grade Level', 'm_all_approgl_nm': 'Approach Grade Level', 'm_all_meetsgl_nm': 'Meet Grade Level', 'm_all_mastrgl_nm': 'Master Grade Level'})
allstudents_renamed.head(5)

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Site Street Address,School Site City,School Site Zip,Below Grade Level,Approach Grade Level,Meet Grade Level,Master Grade Level
0,1902103,CAYUGA ISD,CAYUGA ELEM.,4,INDEPENDENT,17750 N US HWY 287,TENNESSEE COLONY,75861,6.0,44.0,27.0,13.0
1,1903102,ELKHART ISD,ELKHART INTERME,4,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,4.0,93.0,63.0,40.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,4,INDEPENDENT,100 PERRY ST,FRANKSTON,75763-0428,26.0,52.0,25.0,15.0
3,1906102,NECHES ISD,NECHES ELEM.,4,INDEPENDENT,3055 FM 2574,PALESTINE,75803,2.0,23.0,9.0,2.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,4,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,106.0,143.0,80.0,45.0

In [20]:
allstudents_renamed.count()
#Most columns have enough data to make statistical analysis feasible.

CAMPUS                        4556
DNAME                         4556
CNAME                         4556
GRADE                         4556
District Type                 4523
School Site Street Address    4523
School Site City              4523
School Site Zip               4523
Below Grade Level             4515
Approach Grade Level          4515
Meet Grade Level              4515
Master Grade Level            4515
dtype: int64

In [21]:
#Make allstudents.csv subset file for analysis of all student data.
allstudents_renamed.to_csv('../cleandata/AllStudentsGrade4.csv', index=False, header=True)

In [22]:
#Create a demographics dataframe to evaluate racial and demographic data.
demographics_df = cleanedschooldata2[['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Site Street Address', 'School Site City', 'School Site Zip', 'm_ethh_unsatgl_nm', 'm_ethi_unsatgl_nm', 'm_etha_unsatgl_nm', 'm_ethb_unsatgl_nm', 'm_ethp_unsatgl_nm', 'm_ethw_unsatgl_nm', 'm_ethh_approgl_nm', 'm_ethi_approgl_nm', 'm_etha_approgl_nm', 'm_ethb_approgl_nm', 'm_ethp_approgl_nm', 'm_ethw_approgl_nm','m_ethh_meetsgl_nm', 'm_ethi_meetsgl_nm', 'm_etha_meetsgl_nm', 'm_ethb_meetsgl_nm', 'm_ethp_meetsgl_nm', 'm_ethw_meetsgl_nm','m_ethh_mastrgl_nm', 'm_ethi_mastrgl_nm', 'm_etha_mastrgl_nm', 'm_ethb_mastrgl_nm', 'm_ethp_mastrgl_nm', 'm_ethw_mastrgl_nm',]]

In [23]:
demographics_df.count()

CAMPUS                        4556
DNAME                         4556
CNAME                         4556
GRADE                         4556
District Type                 4523
School Site Street Address    4523
School Site City              4523
School Site Zip               4523
m_ethh_unsatgl_nm             4254
m_ethi_unsatgl_nm               22
m_etha_unsatgl_nm              885
m_ethb_unsatgl_nm             2350
m_ethp_unsatgl_nm               10
m_ethw_unsatgl_nm             3068
m_ethh_approgl_nm             4254
m_ethi_approgl_nm               22
m_etha_approgl_nm              885
m_ethb_approgl_nm             2350
m_ethp_approgl_nm               10
m_ethw_approgl_nm             3068
m_ethh_meetsgl_nm             4254
m_ethi_meetsgl_nm               22
m_etha_meetsgl_nm              885
m_ethb_meetsgl_nm             2350
m_ethp_meetsgl_nm               10
m_ethw_meetsgl_nm             3068
m_ethh_mastrgl_nm             4254
m_ethi_mastrgl_nm               22
m_etha_mastrgl_nm              885
m_ethb_mastrgl_nm             2350
m_ethp_mastrgl_nm               10
m_ethw_mastrgl_nm             3068
dtype: int64

In [24]:
#American Indian (ethi) and Pacific Islander (ethp) have only 15 and 11 counts in the entire columns. I do not believe
#that statistical significance will be achievable for this small population of students. I will leave these data in the
#demographics_df dataframe, but will generate a new dataframe with more complete informaton on Hispanic, Asian, Black,
#and White populations.
demographicsHABW_df = cleanedschooldata2[['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Site Street Address', 'School Site City', 'School Site Zip', 'm_ethh_unsatgl_nm', 'm_etha_unsatgl_nm', 'm_ethb_unsatgl_nm', 'm_ethw_unsatgl_nm', 'm_ethh_approgl_nm', 'm_etha_approgl_nm', 'm_ethb_approgl_nm', 'm_ethw_approgl_nm','m_ethh_meetsgl_nm', 'm_etha_meetsgl_nm', 'm_ethb_meetsgl_nm', 'm_ethw_meetsgl_nm','m_ethh_mastrgl_nm', 'm_etha_mastrgl_nm', 'm_ethb_mastrgl_nm', 'm_ethw_mastrgl_nm',]]

In [25]:
demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Site Street Address,School Site City,School Site Zip,m_ethh_unsatgl_nm,m_etha_unsatgl_nm,...,m_ethb_approgl_nm,m_ethw_approgl_nm,m_ethh_meetsgl_nm,m_etha_meetsgl_nm,m_ethb_meetsgl_nm,m_ethw_meetsgl_nm,m_ethh_mastrgl_nm,m_etha_mastrgl_nm,m_ethb_mastrgl_nm,m_ethw_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,4,INDEPENDENT,17750 N US HWY 287,TENNESSEE COLONY,75861,NaN,NaN,...,NaN,38.0,NaN,NaN,NaN,24.0,NaN,NaN,NaN,12.0
1,1903102,ELKHART ISD,ELKHART INTERME,4,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,0.0,NaN,...,NaN,72.0,10.0,NaN,NaN,50.0,7.0,NaN,NaN,31.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,4,INDEPENDENT,100 PERRY ST,FRANKSTON,75763-0428,NaN,NaN,...,4.0,41.0,NaN,NaN,0.0,21.0,NaN,NaN,0.0,13.0
3,1906102,NECHES ISD,NECHES ELEM.,4,INDEPENDENT,3055 FM 2574,PALESTINE,75803,0.0,NaN,...,NaN,14.0,3.0,NaN,NaN,5.0,0.0,NaN,NaN,2.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,4,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,39.0,NaN,...,30.0,40.0,36.0,NaN,14.0,26.0,19.0,NaN,7.0,16.0

In [26]:
#Lots of NaN values in this dataframe. Check sums to see if there are enough students in each population to make
#statistical measurements. Lowest population is Asian at Below Grade Level, but data in other columns for this 
#group are represented in high enough numbers to try statistical analyses.
demographicsHABW_df.sum()

CAMPUS                                                    523029457577
DNAME                CAYUGA ISDELKHART ISDFRANKSTON ISDNECHES ISDPA...
CNAME                CAYUGA ELEM.ELKHART INTERMEFRANKSTON ELEM.NECH...
GRADE                                                            18224
m_ethh_unsatgl_nm                                                56665
m_etha_unsatgl_nm                                                 1062
m_ethb_unsatgl_nm                                                19885
m_ethw_unsatgl_nm                                                18783
m_ethh_approgl_nm                                               147824
m_etha_approgl_nm                                                14473
m_ethb_approgl_nm                                                28337
m_ethw_approgl_nm                                                87696
m_ethh_meetsgl_nm                                                85419
m_etha_meetsgl_nm                                                12492
m_ethb_meetsgl_nm                                                13886
m_ethw_meetsgl_nm                                                60972
m_ethh_mastrgl_nm                                                46531
m_etha_mastrgl_nm                                                10171
m_ethb_mastrgl_nm                                                 6858
m_ethw_mastrgl_nm                                                39464
dtype: object

In [27]:
#Replace NaN with 0
Zeroed_demographicsHABW_df = demographicsHABW_df.fillna(0)
Zeroed_demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Site Street Address,School Site City,School Site Zip,m_ethh_unsatgl_nm,m_etha_unsatgl_nm,...,m_ethb_approgl_nm,m_ethw_approgl_nm,m_ethh_meetsgl_nm,m_etha_meetsgl_nm,m_ethb_meetsgl_nm,m_ethw_meetsgl_nm,m_ethh_mastrgl_nm,m_etha_mastrgl_nm,m_ethb_mastrgl_nm,m_ethw_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,4,INDEPENDENT,17750 N US HWY 287,TENNESSEE COLONY,75861,0.0,0.0,...,0.0,38.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,12.0
1,1903102,ELKHART ISD,ELKHART INTERME,4,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,0.0,0.0,...,0.0,72.0,10.0,0.0,0.0,50.0,7.0,0.0,0.0,31.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,4,INDEPENDENT,100 PERRY ST,FRANKSTON,75763-0428,0.0,0.0,...,4.0,41.0,0.0,0.0,0.0,21.0,0.0,0.0,0.0,13.0
3,1906102,NECHES ISD,NECHES ELEM.,4,INDEPENDENT,3055 FM 2574,PALESTINE,75803,0.0,0.0,...,0.0,14.0,3.0,0.0,0.0,5.0,0.0,0.0,0.0,2.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,4,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,39.0,0.0,...,30.0,40.0,36.0,0.0,14.0,26.0,19.0,0.0,7.0,16.0

In [28]:
#Rename column headers for easier referencing.
renamed_demographicsHABW_df = Zeroed_demographicsHABW_df.rename(columns = {'m_ethh_unsatgl_nm': 'Below Grade Level Hispanic', 'm_etha_unsatgl_nm': 'Below Grade Level Asian', 'm_ethb_unsatgl_nm': 'Below Grade Level Black', 'm_ethw_unsatgl_nm': 'Below Grade Level White', 'm_ethh_approgl_nm': 'Approach Grade Level Hispanic', 'm_etha_approgl_nm': 'Approach Grade Level Asian', 'm_ethb_approgl_nm': 'Approach Grade Level Black', 'm_ethw_approgl_nm': 'Approach Grade Level White','m_ethh_meetsgl_nm': 'Meet Grade Level Hispanic', 'm_etha_meetsgl_nm': 'Meet Grade Level Asian', 'm_ethb_meetsgl_nm': 'Meet Grade Level Black', 'm_ethw_meetsgl_nm': 'Meet Grade Level White','m_ethh_mastrgl_nm': 'Master Grade Level Hispanic', 'm_etha_mastrgl_nm': 'Master Grade Level Asian', 'm_ethb_mastrgl_nm': 'Master Grade Level Black', 'm_ethw_mastrgl_nm': 'Master Grade Level White'})
renamed_demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Site Street Address,School Site City,School Site Zip,Below Grade Level Hispanic,Below Grade Level Asian,...,Approach Grade Level Black,Approach Grade Level White,Meet Grade Level Hispanic,Meet Grade Level Asian,Meet Grade Level Black,Meet Grade Level White,Master Grade Level Hispanic,Master Grade Level Asian,Master Grade Level Black,Master Grade Level White
0,1902103,CAYUGA ISD,CAYUGA ELEM.,4,INDEPENDENT,17750 N US HWY 287,TENNESSEE COLONY,75861,0.0,0.0,...,0.0,38.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,12.0
1,1903102,ELKHART ISD,ELKHART INTERME,4,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,0.0,0.0,...,0.0,72.0,10.0,0.0,0.0,50.0,7.0,0.0,0.0,31.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,4,INDEPENDENT,100 PERRY ST,FRANKSTON,75763-0428,0.0,0.0,...,4.0,41.0,0.0,0.0,0.0,21.0,0.0,0.0,0.0,13.0
3,1906102,NECHES ISD,NECHES ELEM.,4,INDEPENDENT,3055 FM 2574,PALESTINE,75803,0.0,0.0,...,0.0,14.0,3.0,0.0,0.0,5.0,0.0,0.0,0.0,2.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,4,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,39.0,0.0,...,30.0,40.0,36.0,0.0,14.0,26.0,19.0,0.0,7.0,16.0

In [29]:
#Make new .csv file with demographics data
renamed_demographicsHABW_df.to_csv('../cleandata/DemographicsHABWGrade4.csv', index=False, header=True)

In [30]:
#Economically disadvantaged data
#Create list for these headers from the headerlist with added campus number, district name, campus name, and grade info.
econlist = ['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Site Street Address', 'School Site City', 'School Site Zip']
for name in headerlist:
    if 'ecoy' in name:
        econlist.append(name)
        
    else:
        if 'econ' in name:
            econlist.append(name)
econlist

['CAMPUS',
 'DNAME',
 'CNAME',
 'GRADE',
 'District Type',
 'School Site Street Address',
 'School Site City',
 'School Site Zip',
 'm_ecoy_unsatgl_nm',
 'm_econ_unsatgl_nm',
 'm_ecoy_approgl_nm',
 'm_econ_approgl_nm',
 'm_ecoy_meetsgl_nm',
 'm_econ_meetsgl_nm',
 'm_ecoy_mastrgl_nm',
 'm_econ_mastrgl_nm']

In [31]:
#Use econlist to query cleanedschooldata
econdisadvantaged = cleanedschooldata2[econlist]
econdisadvantaged.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Site Street Address,School Site City,School Site Zip,m_ecoy_unsatgl_nm,m_econ_unsatgl_nm,m_ecoy_approgl_nm,m_econ_approgl_nm,m_ecoy_meetsgl_nm,m_econ_meetsgl_nm,m_ecoy_mastrgl_nm,m_econ_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,4,INDEPENDENT,17750 N US HWY 287,TENNESSEE COLONY,75861,3.0,3.0,18.0,26.0,11.0,16.0,5.0,8.0
1,1903102,ELKHART ISD,ELKHART INTERME,4,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,3.0,1.0,51.0,42.0,26.0,37.0,14.0,26.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,4,INDEPENDENT,100 PERRY ST,FRANKSTON,75763-0428,16.0,10.0,26.0,26.0,7.0,18.0,4.0,11.0
3,1906102,NECHES ISD,NECHES ELEM.,4,INDEPENDENT,3055 FM 2574,PALESTINE,75803,1.0,1.0,15.0,8.0,6.0,3.0,1.0,1.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,4,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,84.0,22.0,108.0,35.0,60.0,20.0,29.0,16.0

In [32]:
#Rename the columns for easier referencing.
renamed_disadvantaged = econdisadvantaged.rename(columns = {'m_ecoy_unsatgl_nm': 'Below Grade Level ED_Yes', 'm_econ_unsatgl_nm': 'Below Grade Level ED_No',
                                                            'm_ecoy_approgl_nm': 'Approach Grade Level ED_Yes', 'm_econ_approgl_nm': 'Approach Grade Level ED_No',
                                                            'm_ecoy_meetsgl_nm': 'Meets Grade Level ED_Yes','m_econ_meetsgl_nm': 'Meets Grade Level ED_No',
                                                            'm_ecoy_mastrgl_nm': 'Master Grade Level ED_Yes','m_econ_mastrgl_nm': 'Master Grade Level ED_No' })
renamed_disadvantaged

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Site Street Address,School Site City,School Site Zip,Below Grade Level ED_Yes,Below Grade Level ED_No,Approach Grade Level ED_Yes,Approach Grade Level ED_No,Meets Grade Level ED_Yes,Meets Grade Level ED_No,Master Grade Level ED_Yes,Master Grade Level ED_No
0,1902103,CAYUGA ISD,CAYUGA ELEM.,4,INDEPENDENT,17750 N US HWY 287,TENNESSEE COLONY,75861,3.0,3.0,18.0,26.0,11.0,16.0,5.0,8.0
1,1903102,ELKHART ISD,ELKHART INTERME,4,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,3.0,1.0,51.0,42.0,26.0,37.0,14.0,26.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,4,INDEPENDENT,100 PERRY ST,FRANKSTON,75763-0428,16.0,10.0,26.0,26.0,7.0,18.0,4.0,11.0
3,1906102,NECHES ISD,NECHES ELEM.,4,INDEPENDENT,3055 FM 2574,PALESTINE,75803,1.0,1.0,15.0,8.0,6.0,3.0,1.0,1.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,4,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,84.0,22.0,108.0,35.0,60.0,20.0,29.0,16.0
5,1908101,WESTWOOD ISD,WESTWOOD ELEM.,4,INDEPENDENT,2305 SALT WORKS RD,PALESTINE,75803-3955,35.0,11.0,48.0,24.0,31.0,18.0,12.0,12.0
6,1909101,SLOCUM ISD,SLOCUM PRE-K -,4,INDEPENDENT,5765 E STATE HWY 294,ELKHART,75839-9802,3.0,3.0,9.0,11.0,2.0,3.0,1.0,0.0
7,2901104,ANDREWS ISD,UNDERWOOD ELEM.,4,INDEPENDENT,316 SW 5TH ST,ANDREWS,79714-6905,54.0,39.0,83.0,147.0,37.0,91.0,22.0,51.0
8,3801103,PINEYWOODS COMM,SARAH STRINDEN,4,CHARTER,602 S RAGUET ST,LUFKIN,75904,7.0,0.0,36.0,44.0,21.0,35.0,8.0,27.0
9,3902102,HUDSON ISD,W.H. BONNER ELE,4,INDEPENDENT,536 FM 3258,LUFKIN,75904,40.0,7.0,95.0,89.0,39.0,58.0,16.0,42.0
10,3903120,LUFKIN ISD,ANDERSON ELEM.,4,INDEPENDENT,381 CHAMPION DR,LUFKIN,75901-7229,16.0,1.0,50.0,6.0,29.0,4.0,6.0,1.0
11,3903121,LUFKIN ISD,BRANDON ELEM.,4,INDEPENDENT,1612 SAYERS ST,LUFKIN,75904-2012,35.0,1.0,46.0,46.0,20.0,36.0,10.0,23.0
12,3903122,LUFKIN ISD,BROOKHOLLOW ELE,4,INDEPENDENT,1009 LIVE OAK LN,LUFKIN,75904-4245,35.0,4.0,34.0,8.0,12.0,3.0,1.0,1.0
13,3903123,LUFKIN ISD,COSTON ELEM.,4,INDEPENDENT,707 TRENTON,LUFKIN,75901-2497,22.0,NaN,51.0,NaN,29.0,NaN,15.0,NaN
14,3903129,LUFKIN ISD,SLACK ELEM.,4,INDEPENDENT,1305 FULLER SPRINGS DR,LUFKIN,75901-6515,28.0,3.0,106.0,22.0,47.0,16.0,18.0,7.0
15,3904102,HUNTINGTON ISD,HUNTINGTON INTE,4,INDEPENDENT,950 GIBSON,HUNTINGTON,75949-0328,25.0,6.0,36.0,36.0,18.0,24.0,8.0,13.0
16,3905103,DIBOLL ISD,H.G. TEMPLE INT,4,INDEPENDENT,1301 LUMBERJACK DR,DIBOLL,75941,44.0,6.0,53.0,20.0,26.0,11.0,20.0,9.0
17,3906101,ZAVALLA ISD,ZAVALLA ELEM.,4,INDEPENDENT,431 E MAIN ST,ZAVALLA,75980-0045,7.0,2.0,14.0,5.0,9.0,1.0,7.0,1.0
18,3907102,CENTRAL ISD,CENTRAL ELEM.,4,INDEPENDENT,8578 US HWY 69N,POLLOK,75969-9710,21.0,9.0,44.0,38.0,21.0,26.0,9.0,10.0
19,4901101,ARANSAS COUNTY,FULTON LEARNING,4,INDEPENDENT,314 N 6TH ST,FULTON,78358-0907,38.0,16.0,90.0,52.0,40.0,39.0,20.0,24.0
20,5901101,ARCHER CITY ISD,ARCHER CITY ELE,4,INDEPENDENT,602 S ASH ST,ARCHER CITY,76351-0926,6.0,2.0,18.0,9.0,15.0,7.0,9.0,3.0
21,5902101,HOLLIDAY ISD,HOLLIDAY ELEM.,4,INDEPENDENT,751 COLLEGE AVE,HOLLIDAY,76366-0689,12.0,7.0,8.0,55.0,2.0,38.0,1.0,19.0
22,5904101,WINDTHORST ISD,WINDTHORST ELEM,4,INDEPENDENT,100 ST MARYS DR,WINDTHORST,76389-0190,1.0,0.0,8.0,17.0,7.0,14.0,6.0,11.0
23,6902101,CLAUDE ISD,CLAUDE ELEM.,4,NaN,NaN,NaN,NaN,4.0,4.0,9.0,8.0,6.0,6.0,1.0,2.0
24,7901101,CHARLOTTE ISD,CHARLOTTE ELEM.,4,INDEPENDENT,168 WATSON AVE,CHARLOTTE,78011-0489,10.0,4.0,18.0,6.0,7.0,5.0,5.0,3.0
25,7902101,JOURDANTON ISD,JOURDANTON ELEM,4,INDEPENDENT,200 ZANDERSON AVE,JOURDANTON,78026-3045,21.0,5.0,45.0,42.0,22.0,24.0,12.0,16.0
26,7904101,LYTLE ISD,LYTLE ELEM.,4,INDEPENDENT,11550 LAREDO,LYTLE,78052-1060,39.0,10.0,60.0,28.0,34.0,11.0,12.0,5.0
27,7905103,PLEASANTON ISD,PLEASANTON ELEM,4,INDEPENDENT,101 GRANT ST,PLEASANTON,78064-3028,91.0,27.0,84.0,83.0,38.0,50.0,26.0,27.0
28,7906102,POTEET ISD,POTEET INTERMED,4,INDEPENDENT,838 SCHOOL DRIVEE,POTEET,78065,44.0,1.0,61.0,18.0,29.0,14.0,17.0,6.0
29,8901102,BELLVILLE ISD,O'BRYANT INTERM,4,INDEPENDENT,414 S TESCH,BELLVILLE,77418-1599,40.0,11.0,48.0,52.0,28.0,38.0,8.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4526,247904101,POTH ISD,POTH ELEM.,4,INDEPENDENT,210 BRINKOETER,POTH,78147-0250,11.0,2.0,14.0,41.0,8.0,31.0,3.0,19.0
4527,247906101,STOCKDALE ISD,STOCKDALE ELEM.,4,INDEPENDENT,800 S 6TH ST,STOCKDALE,78160-0007,7.0,1.0,26.0,28.0,12.0,16.0,5.0,8.0
4528,248901101,KERMIT ISD,KERMIT ELEM.,4,INDEPENDENT,201 N E AVE,KERMIT,79745,39.0,6.0,51.0,16.0,20.0,6.0,6.0,5.0
4529,248902101,WINK-LOVING ISD,WINK ELEM.,4,INDEPENDENT,200 N ROSEY DODD,WINK,79789-0367,2.0,3.0,9.0,19.0,7.0,11.0,4.0,7.0
4530,249901101,ALVORD ISD,ALVORD ELEM.,4,INDEPENDENT,711 W STADIUM DR,ALVORD,76225-0070,2.0,4.0,21.0,23.0,17.0,16.0,10.0,10.0
4531,249902110,BOYD ISD,BOYD INTERMEDIA,4,INDEPENDENT,550 KNOX AVE,BOYD,76023-2308,16.0,10.0,33.0,32.0,18.0,20.0,9.0,11.0
4532,249903102,BRIDGEPORT ISD,BRIDGEPORT INTE,4,INDEPENDENT,1400 HWY 380,BRIDGEPORT,76426-0036,40.0,11.0,52.0,48.0,23.0,30.0,9.0,16.0
4533,249904101,CHICO ISD,CHICO ELEM.,4,INDEPENDENT,1120 PARK RD,CHICO,76431,0.0,1.0,30.0,7.0,26.0,6.0,18.0,5.0
4534,249905101,DECATUR ISD,RANN ELEM.,4,INDEPENDENT,1300 DEER PARK RD,DECATUR,76234-4403,18.0,11.0,34.0,37.0,15.0,23.0,3.0,8.0
4535,249905103,DECATUR ISD,CARSON ELEM.,4,INDEPENDENT,2100 BUSINESS 81/287 S,DECATUR,76234-2800,14.0,11.0,20.0,36.0,8.0,21.0,4.0,9.0
4536,249905104,DECATUR ISD,YOUNG ELEM.,4,INDEPENDENT,379 BUCHANAN RD,DECATUR,76234,16.0,5.0,27.0,29.0,11.0,18.0,2.0,6.0
4537,249906050,PARADISE ISD,PARADISE INTERM,4,INDEPENDENT,338 SCHOOLHOUSE RD,PARADISE,76073,3.0,3.0,20.0,55.0,15.0,41.0,8.0,22.0
4538,249908001,SLIDELL ISD,SLIDELL SCHOOLS,4,INDEPENDENT,#1 GREYHOUND LN,SLIDELL,76267-0069,5.0,2.0,9.0,5.0,7.0,3.0,4.0,2.0
4539,250902101,HAWKINS ISD,HAWKINS ELEM.,4,INDEPENDENT,179 HAWK DR,HAWKINS,75765-1430,3.0,1.0,23.0,20.0,12.0,17.0,9.0,12.0
4540,250903102,MINEOLA ISD,MINEOLA ELEM.,4,INDEPENDENT,900 W PATTEN,MINEOLA,75773-1617,43.0,8.0,60.0,30.0,30.0,18.0,15.0,10.0
4541,250904101,QUITMAN ISD,QUITMAN ELEM.,4,INDEPENDENT,902 E GOODE ST,QUITMAN,75783-1642,11.0,1.0,45.0,23.0,24.0,14.0,14.0,10.0
4542,250905101,YANTIS ISD,YANTIS ELEM.,4,INDEPENDENT,105 W OAK,YANTIS,75497,4.0,1.0,12.0,7.0,6.0,5.0,3.0,4.0
4543,250906101,ALBA-GOLDEN ISD,ALBA-GOLDEN ELE,4,INDEPENDENT,1373 CR 2377,ALBA,75410-9706,20.0,8.0,18.0,19.0,13.0,6.0,7.0,1.0
4544,250907103,WINNSBORO ISD,WINNSBORO ELEM.,4,INDEPENDENT,310 W COKE RD,WINNSBORO,75494-2628,21.0,11.0,40.0,37.0,25.0,14.0,12.0,8.0
4545,251901101,DENVER CITY ISD,KELLEY ELEM.,4,INDEPENDENT,500 N SOLAND,DENVER CITY,79323-2824,17.0,15.0,53.0,34.0,22.0,15.0,8.0,10.0
4546,251902101,PLAINS ISD,PLAINS ELEM.,4,INDEPENDENT,811 COWBOY WAY,PLAINS,79355-0479,5.0,6.0,16.0,5.0,6.0,1.0,1.0,0.0
4547,252901105,GRAHAM ISD,GRAHAM ELEM.,4,INDEPENDENT,1219 CLIFF DR,GRAHAM,76450-4103,80.0,26.0,49.0,53.0,12.0,22.0,7.0,11.0
4548,252902002,NEWCASTLE ISD,NEWCASTLE SCHOO,4,INDEPENDENT,505 WASHINGTON AVE,NEWCASTLE,76372-0129,2.0,1.0,8.0,4.0,4.0,4.0,2.0,3.0
4549,252903101,OLNEY ISD,OLNEY ELEM.,4,INDEPENDENT,801 W HAMILTON ST,OLNEY,76374-1362,13.0,3.0,21.0,20.0,6.0,12.0,1.0,8.0
4550,253901101,ZAPATA COUNTY I,BENAVIDES ELEM.,4,INDEPENDENT,307 LINCOLN ST,SAN YGNACIO,78067-0219,0.0,NaN,13.0,NaN,6.0,NaN,1.0,NaN
4551,253901105,ZAPATA COUNTY I,ZAPATA NORTH EL,4,INDEPENDENT,502 E 17TH AVE,ZAPATA,78076,24.0,0.0,48.0,16.0,24.0,12.0,7.0,8.0
4552,253901106,ZAPATA COUNTY I,ZAPATA SOUTH EL,4,INDEPENDENT,500 DELMAR ST,ZAPATA,78076,32.0,3.0,41.0,15.0,18.0,12.0,6.0,5.0
4553,253901107,ZAPATA COUNTY I,FIDEL AND ANDRE,4,INDEPENDENT,805 MIRA FLORES ST,ZAPATA,78076,19.0,2.0,45.0,6.0,21.0,1.0,7.0,0.0
4554,254901106,CRYSTAL CITY IS,ZAVALA ELEM.,4,INDEPENDENT,909 JAVELINA DR,CRYSTAL CITY,78839,63.0,11.0,57.0,11.0,25.0,3.0,12.0,2.0
4555,254902101,LA PRYOR ISD,LA PRYOR ELEM.,4,INDEPENDENT,201 N MILLER ST,LA PRYOR,78872-0519,10.0,2.0,24.0,4.0,10.0,1.0,5.0,1.0

In [33]:
#Save as .csv for future referencing and analysis of economically disadvantaged data.
renamed_disadvantaged.to_csv('../cleandata/EconomicallyDisadvantagedGrade4.csv', index=False, header=True)