In [63]:
#Raw data file is about 4400 x 3150. Make focused .csv files for each catagory important for analysis in this project.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [64]:
#Read in created FinalHeaders.csv file for the headers important for this project.
headers = pd.read_csv('../cleandata/FinalHeaders.csv', header=0)
headers.head(10)

       ColumnHeaders
0             CAMPUS
1              DNAME
2              CNAME
3              GRADE
4   m_all_unsatgl_nm
5  m_sexm_unsatgl_nm
6  m_sexf_unsatgl_nm
7  m_ethh_unsatgl_nm
8  m_ethi_unsatgl_nm
9  m_etha_unsatgl_nm

In [65]:
#Generate header list for referencing
headerlist = []

for index, row in headers.iterrows():
    headerlist.append(row[0])

headerlist

['CAMPUS',
 'DNAME',
 'CNAME',
 'GRADE',
 'm_all_unsatgl_nm',
 'm_sexm_unsatgl_nm',
 'm_sexf_unsatgl_nm',
 'm_ethh_unsatgl_nm',
 'm_ethi_unsatgl_nm',
 'm_etha_unsatgl_nm',
 'm_ethb_unsatgl_nm',
 'm_ethp_unsatgl_nm',
 'm_ethw_unsatgl_nm',
 'm_ecoy_unsatgl_nm',
 'm_econ_unsatgl_nm',
 'm_eco1_unsatgl_nm',
 'm_eco2_unsatgl_nm',
 'm_eco9_unsatgl_nm',
 'm_ti19_unsatgl_nm',
 'm_migy_unsatgl_nm',
 'm_mign_unsatgl_nm',
 'm_spey_unsatgl_nm',
 'm_spen_unsatgl_nm',
 'm_gify_unsatgl_nm',
 'm_gifn_unsatgl_nm',
 'm_atry_unsatgl_nm',
 'm_atrn_unsatgl_nm',
 'm_all_approgl_nm',
 'm_sexm_approgl_nm',
 'm_sexf_approgl_nm',
 'm_ethh_approgl_nm',
 'm_ethi_approgl_nm',
 'm_etha_approgl_nm',
 'm_ethb_approgl_nm',
 'm_ethp_approgl_nm',
 'm_ethw_approgl_nm',
 'm_ecoy_approgl_nm',
 'm_econ_approgl_nm',
 'm_eco1_approgl_nm',
 'm_eco2_approgl_nm',
 'm_eco9_approgl_nm',
 'm_ti19_approgl_nm',
 'm_migy_approgl_nm',
 'm_mign_approgl_nm',
 'm_spey_approgl_nm',
 'm_spen_approgl_nm',
 'm_gify_approgl_nm',
 'm_gifn_approgl_nm',
 'm_atry_approgl_nm',
 'm_atrn_approgl_nm',
 'm_all_meetsgl_nm',
 'm_sexm_meetsgl_nm',
 'm_sexf_meetsgl_nm',
 'm_ethh_meetsgl_nm',
 'm_ethi_meetsgl_nm',
 'm_etha_meetsgl_nm',
 'm_ethb_meetsgl_nm',
 'm_ethp_meetsgl_nm',
 'm_ethw_meetsgl_nm',
 'm_ecoy_meetsgl_nm',
 'm_econ_meetsgl_nm',
 'm_eco1_meetsgl_nm',
 'm_eco2_meetsgl_nm',
 'm_eco9_meetsgl_nm',
 'm_ti19_meetsgl_nm',
 'm_migy_meetsgl_nm',
 'm_mign_meetsgl_nm',
 'm_spey_meetsgl_nm',
 'm_spen_meetsgl_nm',
 'm_gify_meetsgl_nm',
 'm_gifn_meetsgl_nm',
 'm_atry_meetsgl_nm',
 'm_atrn_meetsgl_nm',
 'm_all_mastrgl_nm',
 'm_sexm_mastrgl_nm',
 'm_sexf_mastrgl_nm',
 'm_ethh_mastrgl_nm',
 'm_ethi_mastrgl_nm',
 'm_etha_mastrgl_nm',
 'm_ethb_mastrgl_nm',
 'm_ethp_mastrgl_nm',
 'm_ethw_mastrgl_nm',
 'm_ecoy_mastrgl_nm',
 'm_econ_mastrgl_nm',
 'm_eco1_mastrgl_nm',
 'm_eco2_mastrgl_nm',
 'm_eco9_mastrgl_nm',
 'm_ti19_mastrgl_nm',
 'm_migy_mastrgl_nm',
 'm_mign_mastrgl_nm',
 'm_spey_mastrgl_nm',
 'm_spen_mastrgl_nm',
 'm_gify_mastrgl_nm',
 'm_gifn_mastrgl_nm',
 'm_atry_mastrgl_nm',
 'm_atrn_mastrgl_nm']

In [66]:
#Read in raw school data for STAAR Test, 2019, 5th Grade
schooldata_df = pd.read_csv('../rawdata/cfy19e5.csv', header=0)
schooldata_df.head()

,CAMPUS,YEAR,REGION,DISTRICT,DNAME,CNAME,GRADE,r_all_docs_n,r_all_abs_n,r_all_oth_n,...,s_gifn_avg_cat4,s_gifn_pct_cat4,s_gifv_avg_cat4,s_gifv_pct_cat4,s_atry_avg_cat4,s_atry_pct_cat4,s_atrn_avg_cat4,s_atrn_pct_cat4,s_atrv_avg_cat4,s_atrv_pct_cat4
0,1902103,19,7,1902,CAYUGA ISD,CAYUGA ELEM.,5,48,0,0,...,9.3,78.0,NaN,NaN,8.5,71.0,10.7,89.0,NaN,
1,1903102,19,7,1903,ELKHART ISD,ELKHART INTERME,5,83,0,0,...,9.3,77.0,NaN,NaN,7.8,65.0,10.3,85.0,NaN,
2,1904102,19,7,1904,FRANKSTON ISD,FRANKSTON ELEM.,5,60,0,1,...,9.1,76.0,NaN,NaN,7.6,63.0,10.1,84.0,NaN,
3,1906102,19,7,1906,NECHES ISD,NECHES ELEM.,5,24,0,0,...,8.9,74.0,NaN,NaN,8.1,68.0,9.6,80.0,NaN,
4,1907110,19,7,1907,PALESTINE ISD,STORY INTERMEDI,5,243,0,0,...,7.8,65.0,NaN,NaN,6.9,58.0,9.7,81.0,NaN,

In [67]:
#Use headerlist to reduce data from 3145 columns to 96 columns for easier data management.
cleanedschooldata = schooldata_df[headerlist]

In [68]:
cleanedschooldata.head(10)

,CAMPUS,DNAME,CNAME,GRADE,m_all_unsatgl_nm,m_sexm_unsatgl_nm,m_sexf_unsatgl_nm,m_ethh_unsatgl_nm,m_ethi_unsatgl_nm,m_etha_unsatgl_nm,...,m_eco9_mastrgl_nm,m_ti19_mastrgl_nm,m_migy_mastrgl_nm,m_mign_mastrgl_nm,m_spey_mastrgl_nm,m_spen_mastrgl_nm,m_gify_mastrgl_nm,m_gifn_mastrgl_nm,m_atry_mastrgl_nm,m_atrn_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,5,4.0,2.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,29.0,1.0,28.0,5.0,24.0,15.0,14.0
1,1903102,ELKHART ISD,ELKHART INTERME,5,3.0,2.0,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,43.0,2.0,41.0,4.0,39.0,5.0,38.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,5,7.0,5.0,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,26.0,0.0,26.0,NaN,24.0,3.0,23.0
3,1906102,NECHES ISD,NECHES ELEM.,5,1.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,NaN,10.0,NaN,8.0,0.0,10.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,5,58.0,29.0,29.0,27.0,NaN,NaN,...,NaN,NaN,NaN,51.0,0.0,51.0,6.0,45.0,15.0,36.0
5,1908101,WESTWOOD ISD,WESTWOOD ELEM.,5,43.0,21.0,22.0,12.0,NaN,NaN,...,NaN,NaN,NaN,22.0,0.0,22.0,NaN,21.0,6.0,16.0
6,1909101,SLOCUM ISD,SLOCUM PRE-K -,5,3.0,2.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,5.0,NaN,3.0,1.0,4.0
7,2901104,ANDREWS ISD,UNDERWOOD ELEM.,5,97.0,47.0,50.0,71.0,NaN,NaN,...,NaN,NaN,NaN,74.0,1.0,73.0,19.0,55.0,6.0,68.0
8,3801103,PINEYWOODS COMM,SARAH STRINDEN,5,5.0,4.0,1.0,3.0,NaN,NaN,...,NaN,NaN,NaN,35.0,0.0,35.0,8.0,27.0,7.0,28.0
9,3902102,HUDSON ISD,W.H. BONNER ELE,5,7.0,2.0,5.0,0.0,NaN,NaN,...,NaN,NaN,NaN,121.0,2.0,119.0,13.0,108.0,28.0,93.0

In [69]:
#We need school data from SchoolDirectory.csv in our data. School Number, School Street Address, School City, School Zip Code
DInfo_df = pd.read_csv('../rawdata/SchoolDirectory.csv', header=0)
DInfo_df.head(10)

,County Number,County Name,Region Number,District Number,District Name,District Type,District Street Address,District City,District State,District Zip,...,School Phone,School Fax,School Email Address,School Web Page Address,School Principal,Grade Range,School Enrollment as of Oct 2018,School Status,School Status Date,Update Date
0,'001,ANDERSON COUNTY,'07,'001902,CAYUGA ISD,INDEPENDENT,P O BOX 427,CAYUGA,TX,75832-0427,...,(903) 928-2294 ext:012,(903) 928-2239,admin1@cayugaisd.com,www.cayugaisd.com,MR JOE E SATTERWHITE III,'09-12,179,Active,,11/14/2019 5:35
1,'001,ANDERSON COUNTY,'07,'001902,CAYUGA ISD,INDEPENDENT,P O BOX 427,CAYUGA,TX,75832-0427,...,(903) 928-2699 ext:4001,(903) 928-2646,admin1@cayugaisd.com,www.cayugaisd.com,MRS SHERRI MCINNIS,'06-08,119,Active,3/11/1996,11/14/2019 5:35
2,'001,ANDERSON COUNTY,'07,'001902,CAYUGA ISD,INDEPENDENT,P O BOX 427,CAYUGA,TX,75832-0427,...,(903) 928-2295,(903) 928-2387,admin1@cayugaisd.com,www.cayugaisd.com,MRS TRACIE CAMPBELL,'EE-05,266,Active,,11/14/2019 5:35
3,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,(903) 764-5161,(903) 764-2414,hneugebauer@elkhartisd.org,elkhartisd.org,MR JASON W IVES,'09-12,376,Active,,11/14/2019 5:35
4,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,,,tpyeatt@elkhartisd.org,NaN,,'KG-12,2,Active,6/28/2002,11/14/2019 5:35
5,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,(903) 764-2459,(903) 764-8287,sfox@elkhartisd.org,elkhartisd.org,MRS REBECCA HUFF,'06-08,261,Active,1/1/1996,11/14/2019 5:35
6,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,(903) 764-2979,(903) 764-8286,ddancer@elkhartisd.org,elkhartisd.org,MR KYLE JOHNSON,'EE-02,339,Active,,11/14/2019 5:35
7,'001,ANDERSON COUNTY,'07,'001903,ELKHART ISD,INDEPENDENT,301 E PARKER ST,ELKHART,TX,75839-9701,...,(903) 764-8535,(903) 764-8287,kbridges@elkhartisd.org,elkhartisd.org,MR GREGORY D HERRING,'03-05,277,Active,6/29/2011,11/14/2019 5:35
8,'001,ANDERSON COUNTY,'07,'001904,FRANKSTON ISD,INDEPENDENT,P O BOX 428,FRANKSTON,TX,75763-0428,...,(903) 876-3219,(903) 876-4558,contact@frankstonisd.net,www.frankstonisd.net,EDGAR RODRIGUEZ,'09-12,228,Active,,11/14/2019 5:35
9,'001,ANDERSON COUNTY,'07,'001904,FRANKSTON ISD,INDEPENDENT,P O BOX 428,FRANKSTON,TX,75763-0428,...,(903) 876-2215,(903) 876-4558,contact@frankstonisd.net,www.frankstonisd.net,EDGAR RODRIGUEZ,'06-08,194,Active,9/1/1992,11/14/2019 5:35

In [70]:
#Take the appropriate columns and make a dataframe for merging to the cleanedschooldata dataframe.
DInfo_School_df = DInfo_df[['School Number', 'School Street Address', 'School City', 'School Zip', 'District Type']]
DInfo_School_df.head(10)

  School Number School Street Address School City  School Zip District Type
0    '001902001           P O BOX 427      CAYUGA  75832-0427   INDEPENDENT
1    '001902041           P O BOX 427      CAYUGA  75832-0427   INDEPENDENT
2    '001902103           P O BOX 427      CAYUGA  75832-0427   INDEPENDENT
3    '001903001       301 E PARKER ST     ELKHART  75839-9701   INDEPENDENT
4    '001903002       301 E PARKER ST     ELKHART       75839   INDEPENDENT
5    '001903041       301 E PARKER ST     ELKHART  75839-9701   INDEPENDENT
6    '001903101       301 E PARKER ST     ELKHART  75839-9701   INDEPENDENT
7    '001903102       301 E PARKER ST     ELKHART  75839-9701   INDEPENDENT
8    '001904001           P O BOX 428   FRANKSTON  75763-0428   INDEPENDENT
9    '001904041           P O BOX 428   FRANKSTON  75763-0428   INDEPENDENT

In [71]:
#Make a new CAMPUS column from the School Number, remove the ' and truncate to integers. This makes CAMPUS
#number equal to the number for the cleanedschooldata dataframe.
for index, row in DInfo_School_df.iterrows():
    
    DInfo_School_df.loc[index, 'CAMPUS'] = int(row[0][1:])

In [72]:
DInfo_School_df.head(20)

,School Number,School Street Address,School City,School Zip,District Type,CAMPUS
0,'001902001,P O BOX 427,CAYUGA,75832-0427,INDEPENDENT,1902001.0
1,'001902041,P O BOX 427,CAYUGA,75832-0427,INDEPENDENT,1902041.0
2,'001902103,P O BOX 427,CAYUGA,75832-0427,INDEPENDENT,1902103.0
3,'001903001,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT,1903001.0
4,'001903002,301 E PARKER ST,ELKHART,75839,INDEPENDENT,1903002.0
5,'001903041,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT,1903041.0
6,'001903101,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT,1903101.0
7,'001903102,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT,1903102.0
8,'001904001,P O BOX 428,FRANKSTON,75763-0428,INDEPENDENT,1904001.0
9,'001904041,P O BOX 428,FRANKSTON,75763-0428,INDEPENDENT,1904041.0
10,'001904102,P O BOX 428,FRANKSTON,75763-0428,INDEPENDENT,1904102.0
11,'001906002,P O BOX 310,NECHES,75779-0310,INDEPENDENT,1906002.0
12,'001906102,P O BOX 310,NECHES,75779-0310,INDEPENDENT,1906102.0
13,'001907001,1600 S LOOP 256,PALESTINE,75801-5898,INDEPENDENT,1907001.0
14,'001907041,233 BEN MILAM DR,PALESTINE,75801-6003,INDEPENDENT,1907041.0
15,'001907101,2509 HWY 155 N,PALESTINE,75801-9999,INDEPENDENT,1907101.0
16,'001907102,1020 W HAMLET,PALESTINE,75803,INDEPENDENT,1907102.0
17,'001907107,201 GILLESPIE RD,PALESTINE,75801-7627,INDEPENDENT,1907107.0
18,'001907110,5300 S LOOP 256,PALESTINE,75801-2415,INDEPENDENT,1907110.0
19,'001908002,P O BOX 260,PALESTINE,75802-0260,INDEPENDENT,1908002.0

In [73]:
#Merge the cleanedschooldata and test_df dataframes
cleanedschooldata2 = pd.merge(cleanedschooldata, DInfo_School_df, on='CAMPUS', how='left')

In [74]:
cleanedschooldata2.count()

CAMPUS                   4326
DNAME                    4326
CNAME                    4326
GRADE                    4326
m_all_unsatgl_nm         4266
m_sexm_unsatgl_nm        4216
m_sexf_unsatgl_nm        4196
m_ethh_unsatgl_nm        3997
m_ethi_unsatgl_nm          15
m_etha_unsatgl_nm         845
m_ethb_unsatgl_nm        2216
m_ethp_unsatgl_nm          11
m_ethw_unsatgl_nm        2851
m_ecoy_unsatgl_nm        4163
m_econ_unsatgl_nm        3584
m_eco1_unsatgl_nm        3846
m_eco2_unsatgl_nm        1538
m_eco9_unsatgl_nm        1375
m_ti19_unsatgl_nm           5
m_migy_unsatgl_nm          74
m_mign_unsatgl_nm        4263
m_spey_unsatgl_nm        3199
m_spen_unsatgl_nm        4252
m_gify_unsatgl_nm        2809
m_gifn_unsatgl_nm        4260
m_atry_unsatgl_nm        4141
m_atrn_unsatgl_nm        4131
m_all_approgl_nm         4266
m_sexm_approgl_nm        4216
m_sexf_approgl_nm        4196
                         ...
m_atry_meetsgl_nm        4141
m_atrn_meetsgl_nm        4131
m_all_mastrgl_nm         4266
m_sexm_mastrgl_nm        4216
m_sexf_mastrgl_nm        4196
m_ethh_mastrgl_nm        3997
m_ethi_mastrgl_nm          15
m_etha_mastrgl_nm         845
m_ethb_mastrgl_nm        2216
m_ethp_mastrgl_nm          11
m_ethw_mastrgl_nm        2851
m_ecoy_mastrgl_nm        4163
m_econ_mastrgl_nm        3584
m_eco1_mastrgl_nm        3846
m_eco2_mastrgl_nm        1538
m_eco9_mastrgl_nm        1375
m_ti19_mastrgl_nm           5
m_migy_mastrgl_nm          74
m_mign_mastrgl_nm        4263
m_spey_mastrgl_nm        3199
m_spen_mastrgl_nm        4252
m_gify_mastrgl_nm        2809
m_gifn_mastrgl_nm        4260
m_atry_mastrgl_nm        4141
m_atrn_mastrgl_nm        4131
School Number            4290
School Street Address    4290
School City              4290
School Zip               4290
District Type            4290
Length: 101, dtype: int64

In [75]:
cleanedschooldata2.head(10)

,CAMPUS,DNAME,CNAME,GRADE,m_all_unsatgl_nm,m_sexm_unsatgl_nm,m_sexf_unsatgl_nm,m_ethh_unsatgl_nm,m_ethi_unsatgl_nm,m_etha_unsatgl_nm,...,m_spen_mastrgl_nm,m_gify_mastrgl_nm,m_gifn_mastrgl_nm,m_atry_mastrgl_nm,m_atrn_mastrgl_nm,School Number,School Street Address,School City,School Zip,District Type
0,1902103,CAYUGA ISD,CAYUGA ELEM.,5,4.0,2.0,2.0,NaN,NaN,NaN,...,28.0,5.0,24.0,15.0,14.0,'001902103,P O BOX 427,CAYUGA,75832-0427,INDEPENDENT
1,1903102,ELKHART ISD,ELKHART INTERME,5,3.0,2.0,1.0,0.0,NaN,NaN,...,41.0,4.0,39.0,5.0,38.0,'001903102,301 E PARKER ST,ELKHART,75839-9701,INDEPENDENT
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,5,7.0,5.0,2.0,0.0,NaN,NaN,...,26.0,NaN,24.0,3.0,23.0,'001904102,P O BOX 428,FRANKSTON,75763-0428,INDEPENDENT
3,1906102,NECHES ISD,NECHES ELEM.,5,1.0,1.0,0.0,NaN,NaN,NaN,...,10.0,NaN,8.0,0.0,10.0,'001906102,P O BOX 310,NECHES,75779-0310,INDEPENDENT
4,1907110,PALESTINE ISD,STORY INTERMEDI,5,58.0,29.0,29.0,27.0,NaN,NaN,...,51.0,6.0,45.0,15.0,36.0,'001907110,5300 S LOOP 256,PALESTINE,75801-2415,INDEPENDENT
5,1908101,WESTWOOD ISD,WESTWOOD ELEM.,5,43.0,21.0,22.0,12.0,NaN,NaN,...,22.0,NaN,21.0,6.0,16.0,'001908101,P O BOX 260,PALESTINE,75802-0260,INDEPENDENT
6,1909101,SLOCUM ISD,SLOCUM PRE-K -,5,3.0,2.0,1.0,NaN,NaN,NaN,...,5.0,NaN,3.0,1.0,4.0,'001909101,5765 E STATE HWY 294,ELKHART,75839-9802,INDEPENDENT
7,2901104,ANDREWS ISD,UNDERWOOD ELEM.,5,97.0,47.0,50.0,71.0,NaN,NaN,...,73.0,19.0,55.0,6.0,68.0,'002901104,405 NW 3RD ST,ANDREWS,79714-5098,INDEPENDENT
8,3801103,PINEYWOODS COMM,SARAH STRINDEN,5,5.0,4.0,1.0,3.0,NaN,NaN,...,35.0,8.0,27.0,7.0,28.0,'003801103,602 S RAGUET ST,LUFKIN,75904,CHARTER
9,3902102,HUDSON ISD,W.H. BONNER ELE,5,7.0,2.0,5.0,0.0,NaN,NaN,...,119.0,13.0,108.0,28.0,93.0,'003902102,536 FM 3258,LUFKIN,75904,INDEPENDENT

In [76]:
#Basic cleaned file for further data extraction of focused .csv files. 
cleanedschooldata2.to_csv('..\cleandata\CleanedSchoolDataGrade5.csv', header=True, index=False)

In [77]:
#Create DataFrame for numbers in 'all students' categories.
allstudents_df = cleanedschooldata2[['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Street Address', 'School City', 'School Zip', 'm_all_unsatgl_nm', 'm_all_approgl_nm', 'm_all_meetsgl_nm', 'm_all_mastrgl_nm']]
allstudents_df.head(5)

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,m_all_unsatgl_nm,m_all_approgl_nm,m_all_meetsgl_nm,m_all_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,5,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,4.0,44.0,41.0,29.0
1,1903102,ELKHART ISD,ELKHART INTERME,5,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,3.0,80.0,65.0,43.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,5,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,7.0,53.0,40.0,26.0
3,1906102,NECHES ISD,NECHES ELEM.,5,INDEPENDENT,P O BOX 310,NECHES,75779-0310,1.0,23.0,15.0,10.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,5,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,58.0,185.0,106.0,51.0

In [78]:
allstudents_renamed = allstudents_df.rename(columns = {'m_all_unsatgl_nm': 'Below Grade Level', 'm_all_approgl_nm': 'Approach Grade Level', 'm_all_meetsgl_nm': 'Meet Grade Level', 'm_all_mastrgl_nm': 'Master Grade Level'})
allstudents_renamed.head(5)

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,Below Grade Level,Approach Grade Level,Meet Grade Level,Master Grade Level
0,1902103,CAYUGA ISD,CAYUGA ELEM.,5,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,4.0,44.0,41.0,29.0
1,1903102,ELKHART ISD,ELKHART INTERME,5,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,3.0,80.0,65.0,43.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,5,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,7.0,53.0,40.0,26.0
3,1906102,NECHES ISD,NECHES ELEM.,5,INDEPENDENT,P O BOX 310,NECHES,75779-0310,1.0,23.0,15.0,10.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,5,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,58.0,185.0,106.0,51.0

In [79]:
allstudents_renamed.count()
#Most columns have enough data to make statistical analysis feasible.

CAMPUS                   4326
DNAME                    4326
CNAME                    4326
GRADE                    4326
District Type            4290
School Street Address    4290
School City              4290
School Zip               4290
Below Grade Level        4266
Approach Grade Level     4266
Meet Grade Level         4266
Master Grade Level       4266
dtype: int64

In [80]:
#Make allstudents.csv subset file for analysis of all student data.
allstudents_renamed.to_csv('../cleandata/AllStudentsGrade5.csv', index=False, header=True)

In [81]:
#Create a demographics dataframe to evaluate racial and demographic data.
demographics_df = cleanedschooldata2[['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Street Address', 'School City', 'School Zip', 'm_ethh_unsatgl_nm', 'm_ethi_unsatgl_nm', 'm_etha_unsatgl_nm', 'm_ethb_unsatgl_nm', 'm_ethp_unsatgl_nm', 'm_ethw_unsatgl_nm', 'm_ethh_approgl_nm', 'm_ethi_approgl_nm', 'm_etha_approgl_nm', 'm_ethb_approgl_nm', 'm_ethp_approgl_nm', 'm_ethw_approgl_nm','m_ethh_meetsgl_nm', 'm_ethi_meetsgl_nm', 'm_etha_meetsgl_nm', 'm_ethb_meetsgl_nm', 'm_ethp_meetsgl_nm', 'm_ethw_meetsgl_nm','m_ethh_mastrgl_nm', 'm_ethi_mastrgl_nm', 'm_etha_mastrgl_nm', 'm_ethb_mastrgl_nm', 'm_ethp_mastrgl_nm', 'm_ethw_mastrgl_nm',]]

In [82]:
demographics_df.count()

CAMPUS                   4326
DNAME                    4326
CNAME                    4326
GRADE                    4326
District Type            4290
School Street Address    4290
School City              4290
School Zip               4290
m_ethh_unsatgl_nm        3997
m_ethi_unsatgl_nm          15
m_etha_unsatgl_nm         845
m_ethb_unsatgl_nm        2216
m_ethp_unsatgl_nm          11
m_ethw_unsatgl_nm        2851
m_ethh_approgl_nm        3997
m_ethi_approgl_nm          15
m_etha_approgl_nm         845
m_ethb_approgl_nm        2216
m_ethp_approgl_nm          11
m_ethw_approgl_nm        2851
m_ethh_meetsgl_nm        3997
m_ethi_meetsgl_nm          15
m_etha_meetsgl_nm         845
m_ethb_meetsgl_nm        2216
m_ethp_meetsgl_nm          11
m_ethw_meetsgl_nm        2851
m_ethh_mastrgl_nm        3997
m_ethi_mastrgl_nm          15
m_etha_mastrgl_nm         845
m_ethb_mastrgl_nm        2216
m_ethp_mastrgl_nm          11
m_ethw_mastrgl_nm        2851
dtype: int64

In [83]:
#American Indian (ethi) and Pacific Islander (ethp) have only 15 and 11 counts in the entire columns. I do not believe
#that statistical significance will be achievable for this small population of students. I will leave these data in the
#demographics_df dataframe, but will generate a new dataframe with more complete informaton on Hispanic, Asian, Black,
#and White populations.
demographicsHABW_df = cleanedschooldata2[['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Street Address', 'School City', 'School Zip', 'm_ethh_unsatgl_nm', 'm_etha_unsatgl_nm', 'm_ethb_unsatgl_nm', 'm_ethw_unsatgl_nm', 'm_ethh_approgl_nm', 'm_etha_approgl_nm', 'm_ethb_approgl_nm', 'm_ethw_approgl_nm','m_ethh_meetsgl_nm', 'm_etha_meetsgl_nm', 'm_ethb_meetsgl_nm', 'm_ethw_meetsgl_nm','m_ethh_mastrgl_nm', 'm_etha_mastrgl_nm', 'm_ethb_mastrgl_nm', 'm_ethw_mastrgl_nm',]]

In [84]:
demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,m_ethh_unsatgl_nm,m_etha_unsatgl_nm,...,m_ethb_approgl_nm,m_ethw_approgl_nm,m_ethh_meetsgl_nm,m_etha_meetsgl_nm,m_ethb_meetsgl_nm,m_ethw_meetsgl_nm,m_ethh_mastrgl_nm,m_etha_mastrgl_nm,m_ethb_mastrgl_nm,m_ethw_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,5,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,NaN,NaN,...,NaN,42.0,NaN,NaN,NaN,39.0,NaN,NaN,NaN,29.0
1,1903102,ELKHART ISD,ELKHART INTERME,5,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,0.0,NaN,...,NaN,66.0,8.0,NaN,NaN,53.0,5.0,NaN,NaN,35.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,5,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,0.0,NaN,...,4.0,38.0,6.0,NaN,2.0,31.0,6.0,NaN,0.0,19.0
3,1906102,NECHES ISD,NECHES ELEM.,5,INDEPENDENT,P O BOX 310,NECHES,75779-0310,NaN,NaN,...,NaN,18.0,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,5,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,27.0,NaN,...,41.0,58.0,46.0,NaN,16.0,36.0,22.0,NaN,3.0,20.0

In [85]:
#Lots of NaN values in this dataframe. Check sums to see if there are enough students in each population to make
#statistical measurements. Lowest population is Asian at Below Grade Level, but data in other columns for this 
#group are represented in high enough numbers to try statistical analyses.
demographicsHABW_df.sum()

CAMPUS                                                    493494398252
DNAME                CAYUGA ISDELKHART ISDFRANKSTON ISDNECHES ISDPA...
CNAME                CAYUGA ELEM.ELKHART INTERMEFRANKSTON ELEM.NECH...
GRADE                                                            21630
m_ethh_unsatgl_nm                                                38972
m_etha_unsatgl_nm                                                  525
m_ethb_unsatgl_nm                                                14331
m_ethw_unsatgl_nm                                                11557
m_ethh_approgl_nm                                               172449
m_etha_approgl_nm                                                15438
m_ethb_approgl_nm                                                34298
m_ethw_approgl_nm                                                96666
m_ethh_meetsgl_nm                                               109657
m_etha_meetsgl_nm                                                13986
m_ethb_meetsgl_nm                                                18675
m_ethw_meetsgl_nm                                                72155
m_ethh_mastrgl_nm                                                65203
m_etha_mastrgl_nm                                                11993
m_ethb_mastrgl_nm                                                 9893
m_ethw_mastrgl_nm                                                49954
dtype: object

In [86]:
#Replace NaN with 0
Zeroed_demographicsHABW_df = demographicsHABW_df.fillna(0)
Zeroed_demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,m_ethh_unsatgl_nm,m_etha_unsatgl_nm,...,m_ethb_approgl_nm,m_ethw_approgl_nm,m_ethh_meetsgl_nm,m_etha_meetsgl_nm,m_ethb_meetsgl_nm,m_ethw_meetsgl_nm,m_ethh_mastrgl_nm,m_etha_mastrgl_nm,m_ethb_mastrgl_nm,m_ethw_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,5,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,0.0,0.0,...,0.0,42.0,0.0,0.0,0.0,39.0,0.0,0.0,0.0,29.0
1,1903102,ELKHART ISD,ELKHART INTERME,5,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,0.0,0.0,...,0.0,66.0,8.0,0.0,0.0,53.0,5.0,0.0,0.0,35.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,5,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,0.0,0.0,...,4.0,38.0,6.0,0.0,2.0,31.0,6.0,0.0,0.0,19.0
3,1906102,NECHES ISD,NECHES ELEM.,5,INDEPENDENT,P O BOX 310,NECHES,75779-0310,0.0,0.0,...,0.0,18.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,8.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,5,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,27.0,0.0,...,41.0,58.0,46.0,0.0,16.0,36.0,22.0,0.0,3.0,20.0

In [87]:
#Rename column headers for easier referencing.
renamed_demographicsHABW_df = Zeroed_demographicsHABW_df.rename(columns = {'m_ethh_unsatgl_nm': 'Below Grade Level Hispanic', 'm_etha_unsatgl_nm': 'Below Grade Level Asian', 'm_ethb_unsatgl_nm': 'Below Grade Level Black', 'm_ethw_unsatgl_nm': 'Below Grade Level White', 'm_ethh_approgl_nm': 'Approach Grade Level Hispanic', 'm_etha_approgl_nm': 'Approach Grade Level Asian', 'm_ethb_approgl_nm': 'Approach Grade Level Black', 'm_ethw_approgl_nm': 'Approach Grade Level White','m_ethh_meetsgl_nm': 'Meet Grade Level Hispanic', 'm_etha_meetsgl_nm': 'Meet Grade Level Asian', 'm_ethb_meetsgl_nm': 'Meet Grade Level Black', 'm_ethw_meetsgl_nm': 'Meet Grade Level White','m_ethh_mastrgl_nm': 'Master Grade Level Hispanic', 'm_etha_mastrgl_nm': 'Master Grade Level Asian', 'm_ethb_mastrgl_nm': 'Master Grade Level Black', 'm_ethw_mastrgl_nm': 'Master Grade Level White'})
renamed_demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,Below Grade Level Hispanic,Below Grade Level Asian,...,Approach Grade Level Black,Approach Grade Level White,Meet Grade Level Hispanic,Meet Grade Level Asian,Meet Grade Level Black,Meet Grade Level White,Master Grade Level Hispanic,Master Grade Level Asian,Master Grade Level Black,Master Grade Level White
0,1902103,CAYUGA ISD,CAYUGA ELEM.,5,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,0.0,0.0,...,0.0,42.0,0.0,0.0,0.0,39.0,0.0,0.0,0.0,29.0
1,1903102,ELKHART ISD,ELKHART INTERME,5,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,0.0,0.0,...,0.0,66.0,8.0,0.0,0.0,53.0,5.0,0.0,0.0,35.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,5,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,0.0,0.0,...,4.0,38.0,6.0,0.0,2.0,31.0,6.0,0.0,0.0,19.0
3,1906102,NECHES ISD,NECHES ELEM.,5,INDEPENDENT,P O BOX 310,NECHES,75779-0310,0.0,0.0,...,0.0,18.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,8.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,5,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,27.0,0.0,...,41.0,58.0,46.0,0.0,16.0,36.0,22.0,0.0,3.0,20.0

In [88]:
#Make new .csv file with demographics data
renamed_demographicsHABW_df.to_csv('../cleandata/DemographicsHABWGrade5.csv', index=False, header=True)

In [89]:
#Economically disadvantaged data
#Create list for these headers from the headerlist with added campus number, district name, campus name, and grade info.
econlist = ['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'District Type', 'School Street Address', 'School City', 'School Zip']
for name in headerlist:
    if 'ecoy' in name:
        econlist.append(name)
        
    else:
        if 'econ' in name:
            econlist.append(name)
econlist

['CAMPUS',
 'DNAME',
 'CNAME',
 'GRADE',
 'District Type',
 'School Street Address',
 'School City',
 'School Zip',
 'm_ecoy_unsatgl_nm',
 'm_econ_unsatgl_nm',
 'm_ecoy_approgl_nm',
 'm_econ_approgl_nm',
 'm_ecoy_meetsgl_nm',
 'm_econ_meetsgl_nm',
 'm_ecoy_mastrgl_nm',
 'm_econ_mastrgl_nm']

In [90]:
#Use econlist to query cleanedschooldata
econdisadvantaged = cleanedschooldata2[econlist]
econdisadvantaged.head()

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,m_ecoy_unsatgl_nm,m_econ_unsatgl_nm,m_ecoy_approgl_nm,m_econ_approgl_nm,m_ecoy_meetsgl_nm,m_econ_meetsgl_nm,m_ecoy_mastrgl_nm,m_econ_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,5,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,2.0,2.0,21.0,23.0,20.0,21.0,13.0,16.0
1,1903102,ELKHART ISD,ELKHART INTERME,5,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,2.0,1.0,38.0,42.0,30.0,35.0,16.0,27.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,5,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,4.0,3.0,27.0,26.0,20.0,20.0,13.0,13.0
3,1906102,NECHES ISD,NECHES ELEM.,5,INDEPENDENT,P O BOX 310,NECHES,75779-0310,1.0,0.0,6.0,17.0,4.0,11.0,1.0,9.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,5,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,49.0,9.0,128.0,57.0,70.0,36.0,30.0,21.0

In [91]:
#Rename the columns for easier referencing.
renamed_disadvantaged = econdisadvantaged.rename(columns = {'m_ecoy_unsatgl_nm': 'Below Grade Level ED_Yes', 'm_econ_unsatgl_nm': 'Below Grade Level ED_No',
                                                            'm_ecoy_approgl_nm': 'Approach Grade Level ED_Yes', 'm_econ_approgl_nm': 'Approach Grade Level ED_No',
                                                            'm_ecoy_meetsgl_nm': 'Meets Grade Level ED_Yes','m_econ_meetsgl_nm': 'Meets Grade Level ED_No',
                                                            'm_ecoy_mastrgl_nm': 'Master Grade Level ED_Yes','m_econ_mastrgl_nm': 'Master Grade Level ED_No' })
renamed_disadvantaged

,CAMPUS,DNAME,CNAME,GRADE,District Type,School Street Address,School City,School Zip,Below Grade Level ED_Yes,Below Grade Level ED_No,Approach Grade Level ED_Yes,Approach Grade Level ED_No,Meets Grade Level ED_Yes,Meets Grade Level ED_No,Master Grade Level ED_Yes,Master Grade Level ED_No
0,1902103,CAYUGA ISD,CAYUGA ELEM.,5,INDEPENDENT,P O BOX 427,CAYUGA,75832-0427,2.0,2.0,21.0,23.0,20.0,21.0,13.0,16.0
1,1903102,ELKHART ISD,ELKHART INTERME,5,INDEPENDENT,301 E PARKER ST,ELKHART,75839-9701,2.0,1.0,38.0,42.0,30.0,35.0,16.0,27.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,5,INDEPENDENT,P O BOX 428,FRANKSTON,75763-0428,4.0,3.0,27.0,26.0,20.0,20.0,13.0,13.0
3,1906102,NECHES ISD,NECHES ELEM.,5,INDEPENDENT,P O BOX 310,NECHES,75779-0310,1.0,0.0,6.0,17.0,4.0,11.0,1.0,9.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,5,INDEPENDENT,5300 S LOOP 256,PALESTINE,75801-2415,49.0,9.0,128.0,57.0,70.0,36.0,30.0,21.0
5,1908101,WESTWOOD ISD,WESTWOOD ELEM.,5,INDEPENDENT,P O BOX 260,PALESTINE,75802-0260,33.0,10.0,48.0,34.0,20.0,18.0,11.0,11.0
6,1909101,SLOCUM ISD,SLOCUM PRE-K -,5,INDEPENDENT,5765 E STATE HWY 294,ELKHART,75839-9802,3.0,0.0,7.0,13.0,2.0,8.0,1.0,4.0
7,2901104,ANDREWS ISD,UNDERWOOD ELEM.,5,INDEPENDENT,405 NW 3RD ST,ANDREWS,79714-5098,62.0,35.0,55.0,165.0,28.0,106.0,13.0,61.0
8,3801103,PINEYWOODS COMM,SARAH STRINDEN,5,CHARTER,602 S RAGUET ST,LUFKIN,75904,5.0,0.0,37.0,40.0,21.0,33.0,14.0,21.0
9,3902102,HUDSON ISD,W.H. BONNER ELE,5,INDEPENDENT,536 FM 3258,LUFKIN,75904,5.0,2.0,114.0,89.0,83.0,81.0,57.0,64.0
10,3903120,LUFKIN ISD,ANDERSON ELEM.,5,INDEPENDENT,381 CHAMPION DR,LUFKIN,75901-7229,14.0,0.0,51.0,20.0,32.0,17.0,17.0,13.0
11,3903121,LUFKIN ISD,BRANDON ELEM.,5,INDEPENDENT,1612 SAYERS ST,LUFKIN,75904-2012,33.0,2.0,55.0,42.0,35.0,37.0,21.0,29.0
12,3903122,LUFKIN ISD,BROOKHOLLOW ELE,5,INDEPENDENT,1009 LIVE OAK LN,LUFKIN,75904-4245,20.0,3.0,68.0,14.0,37.0,9.0,24.0,4.0
13,3903123,LUFKIN ISD,COSTON ELEM.,5,INDEPENDENT,707 TRENTON,LUFKIN,75901-2497,11.0,1.0,65.0,9.0,46.0,5.0,33.0,5.0
14,3903129,LUFKIN ISD,SLACK ELEM.,5,INDEPENDENT,1305 FULLER SPRINGS DR,LUFKIN,75901-6515,42.0,2.0,81.0,19.0,43.0,15.0,25.0,10.0
15,3904102,HUNTINGTON ISD,HUNTINGTON INTE,5,INDEPENDENT,P O BOX 328,HUNTINGTON,75949-0328,10.0,2.0,69.0,44.0,36.0,31.0,20.0,20.0
16,3905103,DIBOLL ISD,H.G. TEMPLE INT,5,INDEPENDENT,1301 LUMBERJACK DR,DIBOLL,75941,24.0,2.0,91.0,26.0,45.0,16.0,21.0,12.0
17,3906101,ZAVALLA ISD,ZAVALLA ELEM.,5,INDEPENDENT,431 E MAIN ST,ZAVALLA,75980-0045,3.0,NaN,15.0,NaN,9.0,NaN,6.0,NaN
18,3907041,CENTRAL ISD,CENTRAL JR.H.,5,INDEPENDENT,7622 US HWY 69 N,POLLOK,75969-9710,18.0,6.0,46.0,35.0,22.0,22.0,14.0,9.0
19,4901101,ARANSAS COUNTY,FULTON LEARNING,5,INDEPENDENT,P O BOX 907,ROCKPORT,78381-0907,60.0,11.0,111.0,52.0,55.0,42.0,32.0,30.0
20,5901101,ARCHER CITY ISD,ARCHER CITY ELE,5,INDEPENDENT,P O BOX 926,ARCHER CITY,76351-0926,1.0,0.0,17.0,15.0,12.0,12.0,6.0,9.0
21,5902101,HOLLIDAY ISD,HOLLIDAY ELEM.,5,INDEPENDENT,P O BOX 978,HOLLIDAY,76366-0689,5.0,4.0,15.0,59.0,9.0,51.0,6.0,36.0
22,5904101,WINDTHORST ISD,WINDTHORST ELEM,5,INDEPENDENT,P O BOX 190,WINDTHORST,76389-0190,0.0,1.0,11.0,16.0,6.0,13.0,5.0,10.0
23,6902101,CLAUDE ISD,CLAUDE ELEM.,5,NaN,NaN,NaN,NaN,0.0,0.0,10.0,19.0,7.0,14.0,6.0,10.0
24,7901041,CHARLOTTE ISD,CHARLOTTE M.S.,5,INDEPENDENT,P O BOX 489,CHARLOTTE,78011-0489,13.0,1.0,12.0,9.0,6.0,4.0,3.0,2.0
25,7902101,JOURDANTON ISD,JOURDANTON ELEM,5,INDEPENDENT,200 ZANDERSON AVE,JOURDANTON,78026-3045,21.0,13.0,39.0,46.0,18.0,29.0,9.0,16.0
26,7904101,LYTLE ISD,LYTLE ELEM.,5,INDEPENDENT,P O BOX 1060,LYTLE,78052-1060,22.0,8.0,66.0,28.0,35.0,24.0,17.0,18.0
27,7905103,PLEASANTON ISD,PLEASANTON ELEM,5,INDEPENDENT,831 STADIUM DR,PLEASANTON,78064-2499,60.0,25.0,88.0,84.0,36.0,49.0,17.0,30.0
28,7906102,POTEET ISD,POTEET INTERMED,5,INDEPENDENT,P O BOX 138,POTEET,78065,26.0,3.0,74.0,17.0,47.0,16.0,22.0,10.0
29,8901102,BELLVILLE ISD,O'BRYANT INTERM,5,INDEPENDENT,518 S MATHEWS,BELLVILLE,77418-1599,20.0,5.0,51.0,55.0,24.0,41.0,14.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4296,247903002,LA VERNIA ISD,FLORESVILLE ALT,5,INDEPENDENT,1200 5TH ST,FLORESVILLE,78114-1852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4297,247903104,LA VERNIA ISD,LA VERNIA INTER,5,INDEPENDENT,315 BLUEBONNET RD,LA VERNIA,78121-9554,1.0,3.0,63.0,161.0,46.0,140.0,30.0,108.0
4298,247904101,POTH ISD,POTH ELEM.,5,INDEPENDENT,P O BOX 250,POTH,78147-0250,2.0,0.0,24.0,44.0,16.0,37.0,7.0,23.0
4299,247906101,STOCKDALE ISD,STOCKDALE ELEM.,5,INDEPENDENT,P O BOX 7,STOCKDALE,78160-0007,1.0,2.0,30.0,32.0,15.0,22.0,7.0,12.0
4300,248901041,KERMIT ISD,KERMIT JR.H.,5,INDEPENDENT,601 S POPLAR ST,KERMIT,79745-4712,51.0,13.0,44.0,22.0,20.0,7.0,7.0,2.0
4301,248902101,WINK-LOVING ISD,WINK ELEM.,5,INDEPENDENT,P O BOX 637,WINK,79789-0637,7.0,6.0,15.0,19.0,4.0,13.0,2.0,8.0
4302,249901101,ALVORD ISD,ALVORD ELEM.,5,INDEPENDENT,P O BOX 70,ALVORD,76225-0070,2.0,2.0,18.0,39.0,13.0,25.0,10.0,14.0
4303,249902110,BOYD ISD,BOYD INTERMEDIA,5,INDEPENDENT,P O BOX 92308,BOYD,76023-2308,5.0,9.0,33.0,39.0,18.0,26.0,7.0,17.0
4304,249903102,BRIDGEPORT ISD,BRIDGEPORT INTE,5,INDEPENDENT,1400 HWY 380,BRIDGEPORT,76426-0036,29.0,8.0,85.0,44.0,35.0,30.0,19.0,18.0
4305,249904101,CHICO ISD,CHICO ELEM.,5,INDEPENDENT,P O BOX 95,CHICO,76431-0095,10.0,2.0,20.0,16.0,13.0,13.0,5.0,6.0
4306,249905105,DECATUR ISD,DECATUR INTERME,5,INDEPENDENT,1200 EAGLE DR,DECATUR,76234,22.0,11.0,103.0,121.0,65.0,79.0,35.0,48.0
4307,249906050,PARADISE ISD,PARADISE INTERM,5,INDEPENDENT,338 SCHOOLHOUSE RD,PARADISE,76073,1.0,3.0,20.0,68.0,12.0,56.0,6.0,41.0
4308,249908001,SLIDELL ISD,SLIDELL SCHOOLS,5,INDEPENDENT,P O BOX 69,SLIDELL,76267-0069,5.0,2.0,14.0,9.0,10.0,6.0,7.0,4.0
4309,250902101,HAWKINS ISD,HAWKINS ELEM.,5,INDEPENDENT,P O BOX 1430,HAWKINS,75765-1430,2.0,0.0,32.0,17.0,26.0,16.0,16.0,12.0
4310,250903102,MINEOLA ISD,MINEOLA ELEM.,5,INDEPENDENT,900 W PATTEN,MINEOLA,75773-1617,28.0,7.0,54.0,25.0,31.0,22.0,15.0,11.0
4311,250904101,QUITMAN ISD,QUITMAN ELEM.,5,INDEPENDENT,902 E GOODE ST,QUITMAN,75783-1642,3.0,0.0,39.0,26.0,22.0,16.0,7.0,7.0
4312,250905101,YANTIS ISD,YANTIS ELEM.,5,INDEPENDENT,105 W OAK,YANTIS,75497,6.0,0.0,19.0,10.0,6.0,6.0,5.0,1.0
4313,250906101,ALBA-GOLDEN ISD,ALBA-GOLDEN ELE,5,INDEPENDENT,1373 CR 2377,ALBA,75410-9706,5.0,0.0,32.0,30.0,16.0,13.0,8.0,7.0
4314,250907041,WINNSBORO ISD,MEMORIAL M.S.,5,INDEPENDENT,505 S CHESTNUT ST,WINNSBORO,75494-2628,9.0,5.0,40.0,43.0,22.0,35.0,8.0,28.0
4315,251901101,DENVER CITY ISD,KELLEY ELEM.,5,INDEPENDENT,500 N SOLAND,DENVER CITY,79323-2824,13.0,11.0,59.0,56.0,30.0,35.0,18.0,29.0
4316,251902101,PLAINS ISD,PLAINS ELEM.,5,INDEPENDENT,P O BOX 479,PLAINS,79355-0479,20.0,3.0,9.0,6.0,3.0,2.0,1.0,2.0
4317,252901105,GRAHAM ISD,GRAHAM ELEM.,5,INDEPENDENT,1219 CLIFF DR,GRAHAM,76450-4103,39.0,9.0,72.0,53.0,38.0,31.0,20.0,16.0
4318,252902002,NEWCASTLE ISD,NEWCASTLE SCHOO,5,INDEPENDENT,P O BOX 129,NEWCASTLE,73672-0129,4.0,0.0,10.0,7.0,5.0,5.0,2.0,2.0
4319,252903101,OLNEY ISD,OLNEY ELEM.,5,INDEPENDENT,801 W HAMILTON,OLNEY,76374,3.0,0.0,39.0,12.0,31.0,10.0,22.0,8.0
4320,253901101,ZAPATA COUNTY I,BENAVIDES ELEM.,5,INDEPENDENT,P O BOX 158,ZAPATA,78076,0.0,NaN,11.0,NaN,8.0,NaN,7.0,NaN
4321,253901105,ZAPATA COUNTY I,ZAPATA NORTH EL,5,INDEPENDENT,P O BOX 158,ZAPATA,78076-3224,14.0,3.0,54.0,14.0,29.0,8.0,17.0,6.0
4322,253901106,ZAPATA COUNTY I,ZAPATA SOUTH EL,5,INDEPENDENT,P O BOX 158,ZAPATA,78076,17.0,1.0,48.0,15.0,25.0,12.0,15.0,6.0
4323,253901107,ZAPATA COUNTY I,FIDEL AND ANDRE,5,INDEPENDENT,P O BOX 158,ZAPATA,78076,8.0,NaN,81.0,NaN,62.0,NaN,34.0,NaN
4324,254901104,CRYSTAL CITY IS,BENITO JUAREZ M,5,INDEPENDENT,805 E CROCKETT,CRYSTAL CITY,78839-2799,62.0,7.0,54.0,21.0,25.0,12.0,8.0,4.0
4325,254902101,LA PRYOR ISD,LA PRYOR ELEM.,5,INDEPENDENT,P O BOX 519,LA PRYOR,78872-0519,7.0,0.0,19.0,5.0,9.0,3.0,6.0,3.0

In [92]:
#Save as .csv for future referencing and analysis of economically disadvantaged data.
renamed_disadvantaged.to_csv('../cleandata/EconomicallyDisadvantagedGrade5.csv', index=False, header=True)