In [1]:
#Raw data file is about 4400 x 3150. Make focused .csv files for each catagory important for analysis in this project.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read in created FinalHeaders.csv file for the headers important for this project.
headers = pd.read_csv('../cleandata/FinalHeaders.csv', header=0)
headers.head(10)

       ColumnHeaders
0             CAMPUS
1              DNAME
2              CNAME
3              GRADE
4   m_all_unsatgl_nm
5  m_sexm_unsatgl_nm
6  m_sexf_unsatgl_nm
7  m_ethh_unsatgl_nm
8  m_ethi_unsatgl_nm
9  m_etha_unsatgl_nm

In [3]:
#Generate header list for referencing
headerlist = []

for index, row in headers.iterrows():
    headerlist.append(row[0])

headerlist

['CAMPUS',
 'DNAME',
 'CNAME',
 'GRADE',
 'm_all_unsatgl_nm',
 'm_sexm_unsatgl_nm',
 'm_sexf_unsatgl_nm',
 'm_ethh_unsatgl_nm',
 'm_ethi_unsatgl_nm',
 'm_etha_unsatgl_nm',
 'm_ethb_unsatgl_nm',
 'm_ethp_unsatgl_nm',
 'm_ethw_unsatgl_nm',
 'm_ecoy_unsatgl_nm',
 'm_econ_unsatgl_nm',
 'm_eco1_unsatgl_nm',
 'm_eco2_unsatgl_nm',
 'm_eco9_unsatgl_nm',
 'm_ti19_unsatgl_nm',
 'm_migy_unsatgl_nm',
 'm_mign_unsatgl_nm',
 'm_spey_unsatgl_nm',
 'm_spen_unsatgl_nm',
 'm_gify_unsatgl_nm',
 'm_gifn_unsatgl_nm',
 'm_atry_unsatgl_nm',
 'm_atrn_unsatgl_nm',
 'm_all_approgl_nm',
 'm_sexm_approgl_nm',
 'm_sexf_approgl_nm',
 'm_ethh_approgl_nm',
 'm_ethi_approgl_nm',
 'm_etha_approgl_nm',
 'm_ethb_approgl_nm',
 'm_ethp_approgl_nm',
 'm_ethw_approgl_nm',
 'm_ecoy_approgl_nm',
 'm_econ_approgl_nm',
 'm_eco1_approgl_nm',
 'm_eco2_approgl_nm',
 'm_eco9_approgl_nm',
 'm_ti19_approgl_nm',
 'm_migy_approgl_nm',
 'm_mign_approgl_nm',
 'm_spey_approgl_nm',
 'm_spen_approgl_nm',
 'm_gify_approgl_nm',
 'm_gifn_approgl_nm',
 'm_atry_approgl_nm',
 'm_atrn_approgl_nm',
 'm_all_meetsgl_nm',
 'm_sexm_meetsgl_nm',
 'm_sexf_meetsgl_nm',
 'm_ethh_meetsgl_nm',
 'm_ethi_meetsgl_nm',
 'm_etha_meetsgl_nm',
 'm_ethb_meetsgl_nm',
 'm_ethp_meetsgl_nm',
 'm_ethw_meetsgl_nm',
 'm_ecoy_meetsgl_nm',
 'm_econ_meetsgl_nm',
 'm_eco1_meetsgl_nm',
 'm_eco2_meetsgl_nm',
 'm_eco9_meetsgl_nm',
 'm_ti19_meetsgl_nm',
 'm_migy_meetsgl_nm',
 'm_mign_meetsgl_nm',
 'm_spey_meetsgl_nm',
 'm_spen_meetsgl_nm',
 'm_gify_meetsgl_nm',
 'm_gifn_meetsgl_nm',
 'm_atry_meetsgl_nm',
 'm_atrn_meetsgl_nm',
 'm_all_mastrgl_nm',
 'm_sexm_mastrgl_nm',
 'm_sexf_mastrgl_nm',
 'm_ethh_mastrgl_nm',
 'm_ethi_mastrgl_nm',
 'm_etha_mastrgl_nm',
 'm_ethb_mastrgl_nm',
 'm_ethp_mastrgl_nm',
 'm_ethw_mastrgl_nm',
 'm_ecoy_mastrgl_nm',
 'm_econ_mastrgl_nm',
 'm_eco1_mastrgl_nm',
 'm_eco2_mastrgl_nm',
 'm_eco9_mastrgl_nm',
 'm_ti19_mastrgl_nm',
 'm_migy_mastrgl_nm',
 'm_mign_mastrgl_nm',
 'm_spey_mastrgl_nm',
 'm_spen_mastrgl_nm',
 'm_gify_mastrgl_nm',
 'm_gifn_mastrgl_nm',
 'm_atry_mastrgl_nm',
 'm_atrn_mastrgl_nm']

In [4]:
#Read in raw school data for STAAR Test, 2019, 5th Grade
schooldata_df = pd.read_csv('../rawdata/cfy19e3.csv', header=0)
schooldata_df.head()

,CAMPUS,YEAR,REGION,DISTRICT,DNAME,CNAME,GRADE,r_all_docs_n,r_all_abs_n,r_all_oth_n,...,m_gifn_avg_cat4,m_gifn_pct_cat4,m_gifv_avg_cat4,m_gifv_pct_cat4,m_atry_avg_cat4,m_atry_pct_cat4,m_atrn_avg_cat4,m_atrn_pct_cat4,m_atrv_avg_cat4,m_atrv_pct_cat4
0,1902103,19,7,1902,CAYUGA ISD,CAYUGA ELEM.,3,46,0,0,...,3.3,83.0,NaN,NaN,3.1,79.0,3.4,86.0,NaN,
1,1903102,19,7,1903,ELKHART ISD,ELKHART INTERME,3,94,0,0,...,2.7,67.0,NaN,NaN,2.5,63.0,2.8,69.0,NaN,
2,1904102,19,7,1904,FRANKSTON ISD,FRANKSTON ELEM.,3,55,0,0,...,2.5,62.0,NaN,NaN,2.4,60.0,2.7,68.0,NaN,
3,1906102,19,7,1906,NECHES ISD,NECHES ELEM.,3,25,0,0,...,2.7,66.0,NaN,NaN,NaN,NaN,2.9,71.0,NaN,
4,1907107,19,7,1907,PALESTINE ISD,SOUTHSIDE ELEM.,3,206,0,0,...,2.7,68.0,NaN,NaN,2.7,67.0,2.8,70.0,NaN,

In [5]:
#Use headerlist to reduce data from 3145 columns to 96 columns for easier data management.
cleanedschooldata = schooldata_df[headerlist]

In [6]:
cleanedschooldata.head(10)

,CAMPUS,DNAME,CNAME,GRADE,m_all_unsatgl_nm,m_sexm_unsatgl_nm,m_sexf_unsatgl_nm,m_ethh_unsatgl_nm,m_ethi_unsatgl_nm,m_etha_unsatgl_nm,...,m_eco9_mastrgl_nm,m_ti19_mastrgl_nm,m_migy_mastrgl_nm,m_mign_mastrgl_nm,m_spey_mastrgl_nm,m_spen_mastrgl_nm,m_gify_mastrgl_nm,m_gifn_mastrgl_nm,m_atry_mastrgl_nm,m_atrn_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,6.0,4.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,27.0,1.0,26.0,NaN,23.0,5.0,22.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,26.0,15.0,11.0,4.0,NaN,NaN,...,NaN,NaN,NaN,12.0,0.0,12.0,NaN,10.0,2.0,10.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,16.0,7.0,9.0,1.0,NaN,NaN,...,NaN,NaN,NaN,10.0,0.0,10.0,NaN,7.0,1.0,9.0
3,1906102,NECHES ISD,NECHES ELEM.,3,5.0,2.0,3.0,1.0,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,2.0,NaN,1.0,NaN,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,46.0,20.0,26.0,14.0,NaN,NaN,...,NaN,NaN,NaN,51.0,3.0,48.0,6.0,45.0,24.0,27.0
5,1908101,WESTWOOD ISD,WESTWOOD ELEM.,3,50.0,23.0,27.0,17.0,NaN,NaN,...,NaN,NaN,NaN,6.0,0.0,6.0,NaN,4.0,1.0,5.0
6,1909101,SLOCUM ISD,SLOCUM PRE-K -,3,5.0,3.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,5.0,NaN,4.0,1.0,4.0
7,2901101,ANDREWS ISD,DEVONIAN ELEM.,3,49.0,22.0,27.0,38.0,NaN,NaN,...,NaN,NaN,NaN,69.0,1.0,68.0,18.0,51.0,2.0,67.0
8,3801103,PINEYWOODS COMM,SARAH STRINDEN,3,15.0,7.0,8.0,2.0,NaN,NaN,...,NaN,NaN,NaN,28.0,NaN,28.0,4.0,24.0,0.0,28.0
9,3902102,HUDSON ISD,W.H. BONNER ELE,3,27.0,16.0,11.0,13.0,NaN,NaN,...,NaN,NaN,NaN,49.0,1.0,48.0,6.0,43.0,11.0,38.0

In [7]:
#Basic cleaned file for further data extraction of focused .csv files. 
cleanedschooldata.to_csv('..\cleandata\CleanedSchoolDataGrade3.csv', header=True, index=False)

In [8]:
#Create DataFrame for numbers in 'all students' categories.
allstudents_df = cleanedschooldata[['CAMPUS', 'DNAME', 'CNAME', 'GRADE', 'm_all_unsatgl_nm', 'm_all_approgl_nm', 'm_all_meetsgl_nm', 'm_all_mastrgl_nm']]
allstudents_df.head(5)

,CAMPUS,DNAME,CNAME,GRADE,m_all_unsatgl_nm,m_all_approgl_nm,m_all_meetsgl_nm,m_all_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,6.0,40.0,38.0,27.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,26.0,68.0,37.0,12.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,16.0,39.0,26.0,10.0
3,1906102,NECHES ISD,NECHES ELEM.,3,5.0,20.0,7.0,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,46.0,174.0,93.0,51.0

In [9]:
allstudents_renamed = allstudents_df.rename(columns = {'m_all_unsatgl_nm': 'Below Grade Level', 'm_all_approgl_nm': 'Approach Grade Level', 'm_all_meetsgl_nm': 'Meet Grade Level', 'm_all_mastrgl_nm': 'Master Grade Level'})
allstudents_renamed.head(5)

,CAMPUS,DNAME,CNAME,GRADE,Below Grade Level,Approach Grade Level,Meet Grade Level,Master Grade Level
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,6.0,40.0,38.0,27.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,26.0,68.0,37.0,12.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,16.0,39.0,26.0,10.0
3,1906102,NECHES ISD,NECHES ELEM.,3,5.0,20.0,7.0,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,46.0,174.0,93.0,51.0

In [10]:
allstudents_renamed.count()
#Most columns have enough data to make statistical analysis feasible.

CAMPUS                  4567
DNAME                   4567
CNAME                   4567
GRADE                   4567
Below Grade Level       4542
Approach Grade Level    4542
Meet Grade Level        4542
Master Grade Level      4542
dtype: int64

In [11]:
#Make allstudents.csv subset file for analysis of all student data.
allstudents_renamed.to_csv('../cleandata/AllStudentsGrade3.csv', index=False, header=True)

In [12]:
#Create a demographics dataframe to evaluate racial and demographic data.
demographics_df = cleanedschooldata[['CAMPUS', 'DNAME', 'CNAME', 'GRADE',  'm_ethh_unsatgl_nm', 'm_ethi_unsatgl_nm', 'm_etha_unsatgl_nm', 'm_ethb_unsatgl_nm', 'm_ethp_unsatgl_nm', 'm_ethw_unsatgl_nm', 'm_ethh_approgl_nm', 'm_ethi_approgl_nm', 'm_etha_approgl_nm', 'm_ethb_approgl_nm', 'm_ethp_approgl_nm', 'm_ethw_approgl_nm','m_ethh_meetsgl_nm', 'm_ethi_meetsgl_nm', 'm_etha_meetsgl_nm', 'm_ethb_meetsgl_nm', 'm_ethp_meetsgl_nm', 'm_ethw_meetsgl_nm','m_ethh_mastrgl_nm', 'm_ethi_mastrgl_nm', 'm_etha_mastrgl_nm', 'm_ethb_mastrgl_nm', 'm_ethp_mastrgl_nm', 'm_ethw_mastrgl_nm',]]

In [13]:
demographics_df.count()

CAMPUS               4567
DNAME                4567
CNAME                4567
GRADE                4567
m_ethh_unsatgl_nm    4251
m_ethi_unsatgl_nm      13
m_etha_unsatgl_nm     886
m_ethb_unsatgl_nm    2337
m_ethp_unsatgl_nm      13
m_ethw_unsatgl_nm    3066
m_ethh_approgl_nm    4251
m_ethi_approgl_nm      13
m_etha_approgl_nm     886
m_ethb_approgl_nm    2337
m_ethp_approgl_nm      13
m_ethw_approgl_nm    3066
m_ethh_meetsgl_nm    4251
m_ethi_meetsgl_nm      13
m_etha_meetsgl_nm     886
m_ethb_meetsgl_nm    2337
m_ethp_meetsgl_nm      13
m_ethw_meetsgl_nm    3066
m_ethh_mastrgl_nm    4251
m_ethi_mastrgl_nm      13
m_etha_mastrgl_nm     886
m_ethb_mastrgl_nm    2337
m_ethp_mastrgl_nm      13
m_ethw_mastrgl_nm    3066
dtype: int64

In [14]:
#American Indian (ethi) and Pacific Islander (ethp) have only 15 and 11 counts in the entire columns. I do not believe
#that statistical significance will be achievable for this small population of students. I will leave these data in the
#demographics_df dataframe, but will generate a new dataframe with more complete informaton on Hispanic, Asian, Black,
#and White populations.
demographicsHABW_df = cleanedschooldata[['CAMPUS', 'DNAME', 'CNAME', 'GRADE',  'm_ethh_unsatgl_nm', 'm_etha_unsatgl_nm', 'm_ethb_unsatgl_nm', 'm_ethw_unsatgl_nm', 'm_ethh_approgl_nm', 'm_etha_approgl_nm', 'm_ethb_approgl_nm', 'm_ethw_approgl_nm','m_ethh_meetsgl_nm', 'm_etha_meetsgl_nm', 'm_ethb_meetsgl_nm', 'm_ethw_meetsgl_nm','m_ethh_mastrgl_nm', 'm_etha_mastrgl_nm', 'm_ethb_mastrgl_nm', 'm_ethw_mastrgl_nm',]]

In [15]:
demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,m_ethh_unsatgl_nm,m_etha_unsatgl_nm,m_ethb_unsatgl_nm,m_ethw_unsatgl_nm,m_ethh_approgl_nm,m_etha_approgl_nm,m_ethb_approgl_nm,m_ethw_approgl_nm,m_ethh_meetsgl_nm,m_etha_meetsgl_nm,m_ethb_meetsgl_nm,m_ethw_meetsgl_nm,m_ethh_mastrgl_nm,m_etha_mastrgl_nm,m_ethb_mastrgl_nm,m_ethw_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,NaN,NaN,NaN,4.0,NaN,NaN,NaN,34.0,NaN,NaN,NaN,32.0,NaN,NaN,NaN,22.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,4.0,NaN,3.0,18.0,6.0,NaN,2.0,58.0,4.0,NaN,0.0,33.0,1.0,NaN,0.0,11.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,1.0,NaN,4.0,10.0,4.0,NaN,2.0,30.0,3.0,NaN,1.0,21.0,1.0,NaN,0.0,8.0
3,1906102,NECHES ISD,NECHES ELEM.,3,1.0,NaN,NaN,1.0,4.0,NaN,NaN,15.0,0.0,NaN,NaN,7.0,0.0,NaN,NaN,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,14.0,NaN,19.0,9.0,76.0,NaN,39.0,51.0,39.0,NaN,16.0,33.0,23.0,NaN,8.0,17.0

In [16]:
#Lots of NaN values in this dataframe. Check sums to see if there are enough students in each population to make
#statistical measurements. Lowest population is Asian at Below Grade Level, but data in other columns for this 
#group are represented in high enough numbers to try statistical analyses.
demographicsHABW_df.sum()

CAMPUS                                                    525039579319
DNAME                CAYUGA ISDELKHART ISDFRANKSTON ISDNECHES ISDPA...
CNAME                CAYUGA ELEM.ELKHART INTERMEFRANKSTON ELEM.NECH...
GRADE                                                            13701
m_ethh_unsatgl_nm                                                45236
m_etha_unsatgl_nm                                                  976
m_ethb_unsatgl_nm                                                16364
m_ethw_unsatgl_nm                                                14519
m_ethh_approgl_nm                                               143132
m_etha_approgl_nm                                                14464
m_ethb_approgl_nm                                                29686
m_ethw_approgl_nm                                                89512
m_ethh_meetsgl_nm                                                80022
m_etha_meetsgl_nm                                                12196
m_ethb_meetsgl_nm                                                14085
m_ethw_meetsgl_nm                                                61289
m_ethh_mastrgl_nm                                                36529
m_etha_mastrgl_nm                                                 8774
m_ethb_mastrgl_nm                                                 5797
m_ethw_mastrgl_nm                                                34316
dtype: object

In [17]:
#Replace NaN with 0
Zeroed_demographicsHABW_df = demographicsHABW_df.fillna(0)
Zeroed_demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,m_ethh_unsatgl_nm,m_etha_unsatgl_nm,m_ethb_unsatgl_nm,m_ethw_unsatgl_nm,m_ethh_approgl_nm,m_etha_approgl_nm,m_ethb_approgl_nm,m_ethw_approgl_nm,m_ethh_meetsgl_nm,m_etha_meetsgl_nm,m_ethb_meetsgl_nm,m_ethw_meetsgl_nm,m_ethh_mastrgl_nm,m_etha_mastrgl_nm,m_ethb_mastrgl_nm,m_ethw_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,0.0,0.0,0.0,4.0,0.0,0.0,0.0,34.0,0.0,0.0,0.0,32.0,0.0,0.0,0.0,22.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,4.0,0.0,3.0,18.0,6.0,0.0,2.0,58.0,4.0,0.0,0.0,33.0,1.0,0.0,0.0,11.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,1.0,0.0,4.0,10.0,4.0,0.0,2.0,30.0,3.0,0.0,1.0,21.0,1.0,0.0,0.0,8.0
3,1906102,NECHES ISD,NECHES ELEM.,3,1.0,0.0,0.0,1.0,4.0,0.0,0.0,15.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,14.0,0.0,19.0,9.0,76.0,0.0,39.0,51.0,39.0,0.0,16.0,33.0,23.0,0.0,8.0,17.0

In [18]:
#Rename column headers for easier referencing.
renamed_demographicsHABW_df = Zeroed_demographicsHABW_df.rename(columns = {'m_ethh_unsatgl_nm': 'Below Grade Level Hispanic', 'm_etha_unsatgl_nm': 'Below Grade Level Asian', 'm_ethb_unsatgl_nm': 'Below Grade Level Black', 'm_ethw_unsatgl_nm': 'Below Grade Level White', 'm_ethh_approgl_nm': 'Approach Grade Level Hispanic', 'm_etha_approgl_nm': 'Approach Grade Level Asian', 'm_ethb_approgl_nm': 'Approach Grade Level Black', 'm_ethw_approgl_nm': 'Approach Grade Level White','m_ethh_meetsgl_nm': 'Meet Grade Level Hispanic', 'm_etha_meetsgl_nm': 'Meet Grade Level Asian', 'm_ethb_meetsgl_nm': 'Meet Grade Level Black', 'm_ethw_meetsgl_nm': 'Meet Grade Level White','m_ethh_mastrgl_nm': 'Master Grade Level Hispanic', 'm_etha_mastrgl_nm': 'Master Grade Level Asian', 'm_ethb_mastrgl_nm': 'Master Grade Level Black', 'm_ethw_mastrgl_nm': 'Master Grade Level White'})
renamed_demographicsHABW_df.head()

,CAMPUS,DNAME,CNAME,GRADE,Below Grade Level Hispanic,Below Grade Level Asian,Below Grade Level Black,Below Grade Level White,Approach Grade Level Hispanic,Approach Grade Level Asian,Approach Grade Level Black,Approach Grade Level White,Meet Grade Level Hispanic,Meet Grade Level Asian,Meet Grade Level Black,Meet Grade Level White,Master Grade Level Hispanic,Master Grade Level Asian,Master Grade Level Black,Master Grade Level White
0,1902103,CAYUGA ISD,CAYUGA ELEM.,3,0.0,0.0,0.0,4.0,0.0,0.0,0.0,34.0,0.0,0.0,0.0,32.0,0.0,0.0,0.0,22.0
1,1903102,ELKHART ISD,ELKHART INTERME,3,4.0,0.0,3.0,18.0,6.0,0.0,2.0,58.0,4.0,0.0,0.0,33.0,1.0,0.0,0.0,11.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,3,1.0,0.0,4.0,10.0,4.0,0.0,2.0,30.0,3.0,0.0,1.0,21.0,1.0,0.0,0.0,8.0
3,1906102,NECHES ISD,NECHES ELEM.,3,1.0,0.0,0.0,1.0,4.0,0.0,0.0,15.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,2.0
4,1907107,PALESTINE ISD,SOUTHSIDE ELEM.,3,14.0,0.0,19.0,9.0,76.0,0.0,39.0,51.0,39.0,0.0,16.0,33.0,23.0,0.0,8.0,17.0

In [19]:
#Make new .csv file with demographics data
renamed_demographicsHABW_df.to_csv('../cleandata/DemographicsHABWGrade4.csv', index=False, header=True)

In [20]:
#Economically disadvantaged data
#Create list for these headers from the headerlist with added campus number, district name, campus name, and grade info.
econlist = ['CAMPUS', 'DNAME', 'CNAME', 'GRADE']
for name in headerlist:
    if 'ecoy' in name:
        econlist.append(name)
        
    else:
        if 'econ' in name:
            econlist.append(name)
econlist

['CAMPUS',
 'DNAME',
 'CNAME',
 'GRADE',
 'm_ecoy_unsatgl_nm',
 'm_econ_unsatgl_nm',
 'm_ecoy_approgl_nm',
 'm_econ_approgl_nm',
 'm_ecoy_meetsgl_nm',
 'm_econ_meetsgl_nm',
 'm_ecoy_mastrgl_nm',
 'm_econ_mastrgl_nm']

In [21]:
#Use econlist to query cleanedschooldata
econdisadvantaged = cleanedschooldata[econlist]
econdisadvantaged.head()

,CAMPUS,DNAME,CNAME,GRADE,m_ecoy_unsatgl_nm,m_econ_unsatgl_nm,m_ecoy_approgl_nm,m_econ_approgl_nm,m_ecoy_meetsgl_nm,m_econ_meetsgl_nm,m_ecoy_mastrgl_nm,m_econ_mastrgl_nm
0,1902103,CAYUGA ISD,CAYUGA ELEM.,4,3.0,3.0,18.0,26.0,11.0,16.0,5.0,8.0
1,1903102,ELKHART ISD,ELKHART INTERME,4,3.0,1.0,51.0,42.0,26.0,37.0,14.0,26.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,4,16.0,10.0,26.0,26.0,7.0,18.0,4.0,11.0
3,1906102,NECHES ISD,NECHES ELEM.,4,1.0,1.0,15.0,8.0,6.0,3.0,1.0,1.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,4,84.0,22.0,108.0,35.0,60.0,20.0,29.0,16.0

In [22]:
#Rename the columns for easier referencing.
renamed_disadvantaged = econdisadvantaged.rename(columns = {'m_ecoy_unsatgl_nm': 'Below Grade Level ED_Yes', 'm_econ_unsatgl_nm': 'Below Grade Level ED_No',
                                                            'm_ecoy_approgl_nm': 'Approach Grade Level ED_Yes', 'm_econ_approgl_nm': 'Approach Grade Level ED_No',
                                                            'm_ecoy_meetsgl_nm': 'Meets Grade Level ED_Yes','m_econ_meetsgl_nm': 'Meets Grade Level ED_No',
                                                            'm_ecoy_mastrgl_nm': 'Master Grade Level ED_Yes','m_econ_mastrgl_nm': 'Master Grade Level ED_No' })
renamed_disadvantaged

,CAMPUS,DNAME,CNAME,GRADE,Below Grade Level ED_Yes,Below Grade Level ED_No,Approach Grade Level ED_Yes,Approach Grade Level ED_No,Meets Grade Level ED_Yes,Meets Grade Level ED_No,Master Grade Level ED_Yes,Master Grade Level ED_No
0,1902103,CAYUGA ISD,CAYUGA ELEM.,4,3.0,3.0,18.0,26.0,11.0,16.0,5.0,8.0
1,1903102,ELKHART ISD,ELKHART INTERME,4,3.0,1.0,51.0,42.0,26.0,37.0,14.0,26.0
2,1904102,FRANKSTON ISD,FRANKSTON ELEM.,4,16.0,10.0,26.0,26.0,7.0,18.0,4.0,11.0
3,1906102,NECHES ISD,NECHES ELEM.,4,1.0,1.0,15.0,8.0,6.0,3.0,1.0,1.0
4,1907110,PALESTINE ISD,STORY INTERMEDI,4,84.0,22.0,108.0,35.0,60.0,20.0,29.0,16.0
5,1908101,WESTWOOD ISD,WESTWOOD ELEM.,4,35.0,11.0,48.0,24.0,31.0,18.0,12.0,12.0
6,1909101,SLOCUM ISD,SLOCUM PRE-K -,4,3.0,3.0,9.0,11.0,2.0,3.0,1.0,0.0
7,2901104,ANDREWS ISD,UNDERWOOD ELEM.,4,54.0,39.0,83.0,147.0,37.0,91.0,22.0,51.0
8,3801103,PINEYWOODS COMM,SARAH STRINDEN,4,7.0,0.0,36.0,44.0,21.0,35.0,8.0,27.0
9,3902102,HUDSON ISD,W.H. BONNER ELE,4,40.0,7.0,95.0,89.0,39.0,58.0,16.0,42.0
10,3903120,LUFKIN ISD,ANDERSON ELEM.,4,16.0,1.0,50.0,6.0,29.0,4.0,6.0,1.0
11,3903121,LUFKIN ISD,BRANDON ELEM.,4,35.0,1.0,46.0,46.0,20.0,36.0,10.0,23.0
12,3903122,LUFKIN ISD,BROOKHOLLOW ELE,4,35.0,4.0,34.0,8.0,12.0,3.0,1.0,1.0
13,3903123,LUFKIN ISD,COSTON ELEM.,4,22.0,NaN,51.0,NaN,29.0,NaN,15.0,NaN
14,3903129,LUFKIN ISD,SLACK ELEM.,4,28.0,3.0,106.0,22.0,47.0,16.0,18.0,7.0
15,3904102,HUNTINGTON ISD,HUNTINGTON INTE,4,25.0,6.0,36.0,36.0,18.0,24.0,8.0,13.0
16,3905103,DIBOLL ISD,H.G. TEMPLE INT,4,44.0,6.0,53.0,20.0,26.0,11.0,20.0,9.0
17,3906101,ZAVALLA ISD,ZAVALLA ELEM.,4,7.0,2.0,14.0,5.0,9.0,1.0,7.0,1.0
18,3907102,CENTRAL ISD,CENTRAL ELEM.,4,21.0,9.0,44.0,38.0,21.0,26.0,9.0,10.0
19,4901101,ARANSAS COUNTY,FULTON LEARNING,4,38.0,16.0,90.0,52.0,40.0,39.0,20.0,24.0
20,5901101,ARCHER CITY ISD,ARCHER CITY ELE,4,6.0,2.0,18.0,9.0,15.0,7.0,9.0,3.0
21,5902101,HOLLIDAY ISD,HOLLIDAY ELEM.,4,12.0,7.0,8.0,55.0,2.0,38.0,1.0,19.0
22,5904101,WINDTHORST ISD,WINDTHORST ELEM,4,1.0,0.0,8.0,17.0,7.0,14.0,6.0,11.0
23,6902101,CLAUDE ISD,CLAUDE ELEM.,4,4.0,4.0,9.0,8.0,6.0,6.0,1.0,2.0
24,7901101,CHARLOTTE ISD,CHARLOTTE ELEM.,4,10.0,4.0,18.0,6.0,7.0,5.0,5.0,3.0
25,7902101,JOURDANTON ISD,JOURDANTON ELEM,4,21.0,5.0,45.0,42.0,22.0,24.0,12.0,16.0
26,7904101,LYTLE ISD,LYTLE ELEM.,4,39.0,10.0,60.0,28.0,34.0,11.0,12.0,5.0
27,7905103,PLEASANTON ISD,PLEASANTON ELEM,4,91.0,27.0,84.0,83.0,38.0,50.0,26.0,27.0
28,7906102,POTEET ISD,POTEET INTERMED,4,44.0,1.0,61.0,18.0,29.0,14.0,17.0,6.0
29,8901102,BELLVILLE ISD,O'BRYANT INTERM,4,40.0,11.0,48.0,52.0,28.0,38.0,8.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4526,247904101,POTH ISD,POTH ELEM.,4,11.0,2.0,14.0,41.0,8.0,31.0,3.0,19.0
4527,247906101,STOCKDALE ISD,STOCKDALE ELEM.,4,7.0,1.0,26.0,28.0,12.0,16.0,5.0,8.0
4528,248901101,KERMIT ISD,KERMIT ELEM.,4,39.0,6.0,51.0,16.0,20.0,6.0,6.0,5.0
4529,248902101,WINK-LOVING ISD,WINK ELEM.,4,2.0,3.0,9.0,19.0,7.0,11.0,4.0,7.0
4530,249901101,ALVORD ISD,ALVORD ELEM.,4,2.0,4.0,21.0,23.0,17.0,16.0,10.0,10.0
4531,249902110,BOYD ISD,BOYD INTERMEDIA,4,16.0,10.0,33.0,32.0,18.0,20.0,9.0,11.0
4532,249903102,BRIDGEPORT ISD,BRIDGEPORT INTE,4,40.0,11.0,52.0,48.0,23.0,30.0,9.0,16.0
4533,249904101,CHICO ISD,CHICO ELEM.,4,0.0,1.0,30.0,7.0,26.0,6.0,18.0,5.0
4534,249905101,DECATUR ISD,RANN ELEM.,4,18.0,11.0,34.0,37.0,15.0,23.0,3.0,8.0
4535,249905103,DECATUR ISD,CARSON ELEM.,4,14.0,11.0,20.0,36.0,8.0,21.0,4.0,9.0
4536,249905104,DECATUR ISD,YOUNG ELEM.,4,16.0,5.0,27.0,29.0,11.0,18.0,2.0,6.0
4537,249906050,PARADISE ISD,PARADISE INTERM,4,3.0,3.0,20.0,55.0,15.0,41.0,8.0,22.0
4538,249908001,SLIDELL ISD,SLIDELL SCHOOLS,4,5.0,2.0,9.0,5.0,7.0,3.0,4.0,2.0
4539,250902101,HAWKINS ISD,HAWKINS ELEM.,4,3.0,1.0,23.0,20.0,12.0,17.0,9.0,12.0
4540,250903102,MINEOLA ISD,MINEOLA ELEM.,4,43.0,8.0,60.0,30.0,30.0,18.0,15.0,10.0
4541,250904101,QUITMAN ISD,QUITMAN ELEM.,4,11.0,1.0,45.0,23.0,24.0,14.0,14.0,10.0
4542,250905101,YANTIS ISD,YANTIS ELEM.,4,4.0,1.0,12.0,7.0,6.0,5.0,3.0,4.0
4543,250906101,ALBA-GOLDEN ISD,ALBA-GOLDEN ELE,4,20.0,8.0,18.0,19.0,13.0,6.0,7.0,1.0
4544,250907103,WINNSBORO ISD,WINNSBORO ELEM.,4,21.0,11.0,40.0,37.0,25.0,14.0,12.0,8.0
4545,251901101,DENVER CITY ISD,KELLEY ELEM.,4,17.0,15.0,53.0,34.0,22.0,15.0,8.0,10.0
4546,251902101,PLAINS ISD,PLAINS ELEM.,4,5.0,6.0,16.0,5.0,6.0,1.0,1.0,0.0
4547,252901105,GRAHAM ISD,GRAHAM ELEM.,4,80.0,26.0,49.0,53.0,12.0,22.0,7.0,11.0
4548,252902002,NEWCASTLE ISD,NEWCASTLE SCHOO,4,2.0,1.0,8.0,4.0,4.0,4.0,2.0,3.0
4549,252903101,OLNEY ISD,OLNEY ELEM.,4,13.0,3.0,21.0,20.0,6.0,12.0,1.0,8.0
4550,253901101,ZAPATA COUNTY I,BENAVIDES ELEM.,4,0.0,NaN,13.0,NaN,6.0,NaN,1.0,NaN
4551,253901105,ZAPATA COUNTY I,ZAPATA NORTH EL,4,24.0,0.0,48.0,16.0,24.0,12.0,7.0,8.0
4552,253901106,ZAPATA COUNTY I,ZAPATA SOUTH EL,4,32.0,3.0,41.0,15.0,18.0,12.0,6.0,5.0
4553,253901107,ZAPATA COUNTY I,FIDEL AND ANDRE,4,19.0,2.0,45.0,6.0,21.0,1.0,7.0,0.0
4554,254901106,CRYSTAL CITY IS,ZAVALA ELEM.,4,63.0,11.0,57.0,11.0,25.0,3.0,12.0,2.0
4555,254902101,LA PRYOR ISD,LA PRYOR ELEM.,4,10.0,2.0,24.0,4.0,10.0,1.0,5.0,1.0

In [23]:
#Save as .csv for future referencing and analysis of economically disadvantaged data.
renamed_disadvantaged.to_csv('../cleandata/EconomicallyDisadvantagedGrade4.csv', index=False, header=True)